
<app-header 
    heroTitle="Checking Accounts"
    heroDescription="
        Simplify the way you bank 
        with a checking account that 
        fits your lifestyle."
    heroImageUrl="../assets/images/personal/banking/couple-sitting-on-couch-looking-thorugh-book-large.webp">
</app-header>

<div class="custom-container">
    <div class="row btf-title">
        <h2>Checking Your Way</h2>
        <p class="light">
            Whether you prefer online and mobile banking, 
            unlimited debit card transactions or earning 
            interest on your checking account balances, 
            we have you covered. You’ll have access to fee-free ATMs, 
            a contactless debit card, Mobile Deposit and Overdraft Services.
        </p>
    </div>
</div>

<!-- <div class="row">
    <h2>Checking Accounts Options</h2>
    <p class="font-light">
        Managing your money is easy and worry-free when 
        you choose one of our checking account options. 
        We'll take the time to understand your needs to 
        find the one that's right for you. 
    </p>
</div> -->

<div class="custom-container">
    <div class="row">
        <div class="header">
            <h2>Checking Account Options</h2>
            <p class="light">
                Managing your money is easy and worry-free 
                when you choose one of our checking account 
                options. We'll take the time to 
                understand your needs to find the one 
                that's right for you. 
            </p>
        </div>
        
        <div class="icon-and-content-item-container">
            <app-icon-and-content-item
                title="Digital Checking"
                iconImageUrl="../../../assets/images/personal/banking/icon-checking-accounts-50x50.webp"
                description="
                    Take advantage of no monthly 
                    fees or minimum balance requirements 
                    when you digitally manage the account 
                    as a checkless account. ">
            </app-icon-and-content-item>
            <app-icon-and-content-item
                title="Essential Checking"
                iconImageUrl="../../../assets/images/personal/banking/icon-checking-accounts-50x50.webp"
                description="
                    Eliminate monthly maintenance 
                    fees and balance requirements with 
                    a monthly automatic (ACH) direct deposit 
                    made to your checking account.">
            </app-icon-and-content-item>
            <app-icon-and-content-item
                title="Signature Checking"
                iconImageUrl="../../../assets/images/personal/banking/icon-checking-accounts-50x50.webp"
                [description]="
                    'Earn interest, eliminate maintenance 
                    fees and balance requirements when 
                    you link the balances from your other 
                    eligible ' + shortBankName +  ' accounts.'">
            </app-icon-and-content-item>
        </div>
    </div>
</div>

<div class="custom-container">
    <h2 class="text-center my-4">Learn more about...</h2>
    <div class="row more-info-card-container">
        <app-more-info-card
            title="Compare Checking Accounts"
            description="
                Whether you want to manage your 
                account online or earn interest 
                on your checking account balances, 
                we have a checking account to fit 
                your lifestyle.
            "
            linkUrl="/personal/banking/checking/compare-checking-accounts"
            imageUrl="../../../assets/images/personal/checking/woman-working-on-her-laptop-sitting-at-a-table-small.webp">
        </app-more-info-card>
        <app-more-info-card 
            title="Switch Services"
            description="
                We will go out of our way 
                to make opening a new checking 
                account and closing your old 
                one as easy as possible.
            "
            linkUrl="/personal/banking/checking/switch-services"
            imageUrl="../../../assets/images/personal/checking/family-dad-and-daughter-running-into-arms-small.webp">
        </app-more-info-card>
        <app-more-info-card 
            title="Overdraft Services"
            description="
                Save time and eliminate 
                overdraft fees when you 
                link your savings or money 
                market account or line of 
                credit to automatically transfer 
                money to your checking account.
            "
            linkUrl="/personal/banking/checking/overdraft-services"
            imageUrl="../../../assets/images/personal/checking/family-mom-and-daughter-baking-a-cake-small.webp">
        </app-more-info-card>
    </div>
</div>


<app-footer></app-footer>