
<app-header 
    heroTitle="Checking Accounts"
    heroDescription="
        Simplify the way you bank 
        with a checking account that 
        fits your lifestyle."
    heroImageUrl="../assets/images/personal/banking/couple-sitting-on-couch-looking-thorugh-book-large.webp">
</app-header>

<div class="container">
    <div class="row btf-title">
        <h2>Checking Your Way</h2>
        <p class="light">
            Whether you prefer online and mobile banking, 
            unlimited debit card transactions or earning 
            interest on your checking account balances, 
            we have you covered. You’ll have access to fee-free ATMs, 
            a contactless debit card, Mobile Deposit and Overdraft Services.
        </p>
    </div>
</div>

<!-- <div class="row">
    <h2>Checking Accounts Options</h2>
    <p class="font-light">
        Managing your money is easy and worry-free when 
        you choose one of our checking account options. 
        We'll take the time to understand your needs to 
        find the one that's right for you. 
    </p>
</div> -->

<div>
    <div>
        <span>
            <img src="" /> <!-- icon -->
            <h3>Digital Checking</h3>
        </span>
        <p>
            Take advantage of no monthly fees or minimum balance 
            requirements when you digitally manage the account 
            as a checkless account. 
        </p>
    </div>
    
    <div>
        <span>
            <img src="" /> <!-- icon -->
            <h3>Essential Checking</h3>
        </span>
        <p>
            Eliminate monthly maintenance fees and balance 
            requirements with a monthly automatic (ACH) 
            direct deposit made to your checking account.
        </p>
    </div>
    
    <div>
        <span>
            <img src="" /> <!-- icon -->
            <h3>Essential Checking</h3>
        </span>
        <p>
            Earn interest, eliminate maintenance fees 
            and balance requirements when you link 
            the balances from your other eligible 
            {{bankName}} accounts.
        </p>
    </div>
</div>

<div>
    <h2>Learn more about...</h2>

    <div class="card-row">
        <div class="card">
            <h3>
                <a href="#">Compare Checking Accounts</a>
            </h3>
            <p>
                Whether you want to manage your account online or 
                earn interest on your checking account balances, 
                we have a checking account to fit your lifestyle.
            </p>
        </div>
        
        <div class="card">
            <h3>
                <a href="#">Switch Services</a>
            </h3>
            <p>
                We will go out of our way to make opening 
                a new checking account and closing your 
                old one as easy as possible.
            </p>
        </div>
        
        <div class="card">
            <h3>
                <a href="#">Overdraft Services</a>
            </h3>
            <p>
                Save time and eliminate overdraft fees 
                when you link your savings or money market 
                account or line of credit to automatically 
                transfer money to your checking account.
            </p>
        </div>
    </div>
</div>

<app-footer></app-footer>