
<app-header 
    heroTitle="Savings & Money Market"
    heroDescription="
        Be prepared for life’s little 
        surprises with a savings or money 
        market account. Whether you're 
        just starting to save, building an 
        emergency fund, or saving for 
        something special, we can help 
        you reach your goals."
    heroImageUrl="../assets/images/personal/banking/woman-gardening-on-her-rooftop-large.webp">
</app-header>

<div class="custom-container">
    <div class="row btf-title">
        <h2>Savings & Money market Accounts</h2>
        <p class="light">
            Whether you are saving for one of life's biggest 
            moments or protecting yourself from the unexpected, 
            we can find an account to fit your needs.
        </p>
    </div>
    
    <div class="row icon-and-content-item-container">        
        <app-icon-and-content-item
            title="Essential Savings"
            iconImageUrl="../../../assets/images/personal/savings/icon-piggy-bank-50x50.webp"
            description="
                Build your savings and prepare for 
                the unexpected. You can set up automatic 
                transfers from your checking account 
                and also protect your checking from 
                overdrafts.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Signature Money Market"
            iconImageUrl="../../../assets/images/personal/savings/icon-money-market-50x50.png"
            description="
                Receive higher interest rates 
                for higher balances. You can set up 
                automatic transfers from your 
                checking account and also protect 
                your checking from overdrafts.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Relationship Money Market"
            iconImageUrl="../../../assets/images/personal/savings/icon-money-market-50x50.png"
            description="
                Earn higher relationship rates 
                when you tie your Relationship 
                Money Market account to qualifying 
                accounts. You can set up automatic 
                transfers from your checking account and 
                also protect your checking from 
                overdrafts.">
        </app-icon-and-content-item>
    </div>
</div>

<!-- dark card with photo -->
<div class="custom-container">
    <app-image-and-dark-rect-content-row
        title="Open an Account"
        imageUrl="../../../assets/images/hand-with-pen-filling-out-application.webp"
        [items]="
        [
            { 
                item: 'Bring at least one form of the following valid photos IDs:', 
                subItems: ['Dervier\'s license', 'Passport', 'Governemt', 'Student', 'Tribal Identification']
            },
            { 
                item: 'Provide the following personal information:', 
                subItems: ['Date of birth', 'Physical address', 'Phone number']
            },
            { 
                item: 'Make an opening deposit for the new account.'
            }
        ]">
    </app-image-and-dark-rect-content-row>
</div>

<!-- account comparison overview -->
<div class="custom-container">
    <div class="row">
        <div class="header">
            <h2>Account Overview Comparison</h2>
            <p class="italic">
                In an effort to assist customers during this 
                time of uncertainty, we are temporarily 
                suspending the six-per-month limit on 
                transfers and withdrawals from savings accounts. 
                In addition, you will not be charged a fee for 
                transactions exceeding six-per-month. 
                This change is effective May 15, 2020, 
                through May 15, 2021.
            </p>
        </div>

        <div class="account-overview-comparison space-y-4 text-center overflow-x-auto">        
            <div class="flex space-x-4">
                <div class="price-card">
                    <div class="header">
                        <h4>Essential Savings</h4>
                    </div>
        
                    <div class="section">
                        <p>$100 minimum opening deposit</p>
                    </div>
                    
                    <div class="section">
                        <p>
                            $5 monthly cycle maintenance fee<sup>1</sup><br />
                            Waived if one of the following requirements is met: 
                        </p>
        
                        <ul class="checkmark-bullets">
                            <li><p>$300 minimum daily ledger balance<sup>2</sup></p></li>
                            <li><p>$,1000 average monthly cycler ledger balance.</p></li>
                        </ul>
                    </div>
        
                    <div class="section">
                        <p>
                            6 free withdrawal transactions per monthly cycle<sup>4</sup><br />
                            Additional transaction/activity fee<sup>4</sup><br />
                            $6 each after 6 transactions
                        </p>
                    </div>
        
                    <div class="section">
                        <p>Interest rate varies</p>
                    </div>
                    
                    <div class="section">
                        <p>Monthly interests payment frequency</p>
                    </div>
                    
                    <div class="section">
                        <p>Quarterly statement frequency</p>
                        <p>Or, monthly with ACH activity</p>
                    </div>
                    
                    <div class="section">
                        <p>-</p>
                    </div>
                    
                    <div class="section account-features">
                        <h5>Account Features</h5>
                        <ul class="checkmark-bullets list-inside m-0 p-0">
                            <li>
                                <a href="#">Free {{appName}} VISA debit card</a>
                            </li>
                            <li>
                                <a href="#">Free {{appName}} mobile app and eBanking</a>
                            </li>
                            <li>
                                <a href="#">Access to thousands of fee-free ATMs</a>
                            </li>
                            <li>
                                Automatic savings plans
                            </li>
                        </ul>
                    </div>
        
                    <div class="footer">
                        <a class="button">OPEN NOW</a>
                        <a class="button holow">VIEW RATES & DISCLOSURE</a>
                    </div>
                </div>
                
                <div class="price-card">
                    <div class="header">
                        <h4>Essential Savings</h4>
                    </div>
        
                    <div class="section">
                        <p>$100 minimum opening deposit</p>
                    </div>
                    
                    <div class="section">
                        <p>
                            $5 monthly cycle maintenance fee<sup>1</sup><br />
                            Waived if one of the following requirements is met: 
                        </p>
        
                        <ul class="checkmark-bullets">
                            <li><p>$300 minimum daily ledger balance<sup>2</sup></p></li>
                            <li><p>$,1000 average monthly cycler ledger balance.</p></li>
                        </ul>
                    </div>
        
                    <div class="section">
                        <p>
                            6 free withdrawal transactions per monthly cycle<sup>4</sup><br />
                            Additional transaction/activity fee<sup>4</sup><br />
                            $6 each after 6 transactions
                        </p>
                    </div>
        
                    <div class="section">
                        <p>Interest rate varies</p>
                    </div>
                    
                    <div class="section">
                        <p>Monthly interests payment frequency</p>
                    </div>
                    
                    <div class="section">
                        <p>Quarterly statement frequency</p>
                        <p>Or, monthly with ACH activity</p>
                    </div>
                    
                    <div class="section">
                        <p>-</p>
                    </div>
                    
                    <div class="section account-features">
                        <h5>Account Features</h5>
                        <ul class="checkmark-bullets list-inside m-0 p-0">
                            <li>
                                <a href="#">Free {{appName}} VISA debit card</a>
                            </li>
                            <li>
                                <a href="#">Free {{appName}} mobile app and eBanking</a>
                            </li>
                            <li>
                                <a href="#">Access to thousands of fee-free ATMs</a>
                            </li>
                            <li>
                                Automatic savings plans
                            </li>
                        </ul>
                    </div>
        
                    <div class="footer">
                        <a class="button">OPEN NOW</a>
                        <a class="button holow">VIEW RATES & DISCLOSURE</a>
                    </div>
                </div>
                
                <div class="price-card">
                    <div class="header">
                        <h4>Essential Savings</h4>
                    </div>
        
                    <div class="section">
                        <p>$100 minimum opening deposit</p>
                    </div>
                    
                    <div class="section">
                        <p>
                            $5 monthly cycle maintenance fee<sup>1</sup><br />
                            Waived if one of the following requirements is met: 
                        </p>
        
                        <ul class="checkmark-bullets">
                            <li><p>$300 minimum daily ledger balance<sup>2</sup></p></li>
                            <li><p>$,1000 average monthly cycler ledger balance.</p></li>
                        </ul>
                    </div>
        
                    <div class="section">
                        <p>
                            6 free withdrawal transactions per monthly cycle<sup>4</sup><br />
                            Additional transaction/activity fee<sup>4</sup><br />
                            $6 each after 6 transactions
                        </p>
                    </div>
        
                    <div class="section">
                        <p>Interest rate varies</p>
                    </div>
                    
                    <div class="section">
                        <p>Monthly interests payment frequency</p>
                    </div>
                    
                    <div class="section">
                        <p>Quarterly statement frequency</p>
                        <p>Or, monthly with ACH activity</p>
                    </div>
                    
                    <div class="section">
                        <p>-</p>
                    </div>
                    
                    <div class="section account-features">
                        <h5>Account Features</h5>
                        <ul class="checkmark-bullets list-inside m-0 p-0">
                            <li>
                                <a href="#">Free {{appName}} VISA debit card</a>
                            </li>
                            <li>
                                <a href="#">Free {{appName}} mobile app and eBanking</a>
                            </li>
                            <li>
                                <a href="#">Access to thousands of fee-free ATMs</a>
                            </li>
                            <li>
                                Automatic savings plans
                            </li>
                        </ul>
                    </div>
        
                    <div class="footer">
                        <a class="button">OPEN NOW</a>
                        <a class="button holow">VIEW RATES & DISCLOSURE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- dark card with photo -->
<div class="custom-container">
    <h2 class="my-8 text-center">We can also help you with...</h2>
    
    <app-image-and-dark-rect-content-row
        title="Certificates of Deposits (CDs)"
        description="
            When you want a higher than average interest 
            rate, a set rate of return and assurance that 
            your funds are insured, use a CD for your 
            savings and retirement goals.
        "
        imageUrl="../../../assets/images/family-dad-playing-dolls-with-daughter-small.webp">
    </app-image-and-dark-rect-content-row>
</div>

<app-call-us-row></app-call-us-row>

<app-find-advisor-row 
    advisorName="Julie Anchondo, AVP Branch Manager"
    advisorPhotoUrl="../../../assets/images/michelle-van-engen.jpg">
</app-find-advisor-row>

<app-footer></app-footer>