
<app-header 
    heroTitle="Savings & Money Market"
    heroDescription="
        Be prepared for life’s little 
        surprises with a savings or money 
        market account. Whether you're 
        just starting to save, building an 
        emergency fund, or saving for 
        something special, we can help 
        you reach your goals."
    heroImageUrl="../assets/images/personal/banking/woman-gardening-on-her-rooftop-large.webp">
</app-header>

<div class="container">
    <div class="row btf-title">
        <h2>Savings & Money market Accounts</h2>
        <p class="light">
            Whether you are saving for one of life's biggest 
            moments or protecting yourself from the unexpected, 
            we can find an account to fit your needs.
        </p>
    </div>
    
    <div class="row grid grid-cols-4 col-gap-4 row-gap-4 grid-flow-row mx-auto w-auto" 
    style="margin: 0 auto; width: 1400px; max-width: 90%; border: 1px solid black;">
    <app-icon-and-content-item
        title="Essential Savings"
        description="
            Build your savings and prepare 
            for the unexpected. You can set 
            up automatic transfers from your 
            checking account and also protect 
            your checking from overdrafts.">
    </app-icon-and-content-item>
    <app-icon-and-content-item
        title="Signature Money Market"
        description="
            Receive higher interest rates 
            for higher balances. You can set up 
            automatic transfers from your checking 
            account and also protect your 
            checking from overdrafts.">
    </app-icon-and-content-item>
    <app-icon-and-content-item
        title="Relationship Money Market"
        description="
            Earn higher relationship rates 
            when you tie your Relationship Money Market 
            account to qualifying accounts. 
            You can set up automatic transfers 
            from your checking account and also 
            protect your checking from overdrafts.">
    </app-icon-and-content-item>
</div>
</div>

<div class="container">
    <div class="row">
        <!-- <app-icon-heading-description-column heading="Essential Savings"
        description="Build your savings and prepare for the unexpected. You can set up automatic transfers from your checking account and also protect your checking from overdrafts.">
        </app-icon-heading-description-column>
        
        <app-icon-heading-description-column 
        heading="Signature Money Market"
        description="Receive higher interest rates for higher balances. You can set up automatic transfers from your checking account and also protect your checking from overdrafts.">
        </app-icon-heading-description-column>
        
        <app-icon-heading-description-column 
            heading="Relationship Money Market"
            description="Earn higher relationship rates when you tie your Relationship Money Market account to qualifying accounts.5 You can set up automatic transfers from your checking account and also protect your checking from overdrafts.">
        </app-icon-heading-description-column> -->
    </div>
</div>

<!-- dark card with photo -->
<div class="container">
    <div class="row">
        <div class="dark-rect-and-photo">
            <div class="primary-dark-rect">
                <h3 class="">Open an Account</h3>
        
                <ul class="main-list checkmark-bullets">
                    <li>
                        Brings at least one form of the following valid photos IDs:
                        
                        <ul class="sub-list list-disc ml-6">
                            <li>Driver's license</li>
                            <li>Passport</li>
                            <li>Government</li>
                            <li>Student</li>
                            <li>Tribal identification</li>
                        </ul>
                    </li>
                    
                    <li>
                        Provide the following personal information:
                        
                        <ul class="sub-list">
                            <li>Date of birth</li>
                            <li>Physical Address</li>
                            <li>Phone number</li>
                        </ul>
                    </li>
                    
                    <li>Make an opening deposit for the new account.</li>
                </ul>
            </div>
            <div class="photo-container">
                <!-- photo is here -->
                <img src="../../../assets/images/hand-with-pen-filling-out-application.webp" />
            </div>
        </div>
    </div>
</div>

<!-- account comparison overview -->
<div class="container">
    <div class="row">
        <div class="account-overview-comparison space-y-4 text-center">
            <h2>Account Overview Comparison</h2>
            <p class="italic">
                In an effort to assist customers during this 
                time of uncertainty, we are temporarily 
                suspending the six-per-month limit on 
                transfers and withdrawals from savings accounts. 
                In addition, you will not be charged a fee for 
                transactions exceeding six-per-month. 
                This change is effective May 15, 2020, 
                through May 15, 2021.
            </p>
        
            <div class="flex space-x-4">
                <div class="price-card">
                    <div class="header">
                        <h4>Essential Savings</h4>
                    </div>
        
                    <div class="section">
                        <p>$100 minimum opening deposit</p>
                    </div>
                    
                    <div class="section">
                        <p>
                            $5 monthly cycle maintenance fee<sup>1</sup><br />
                            Waived if one of the following requirements is met: 
                        </p>
        
                        <ul class="checkmark-bullets">
                            <li><p>$300 minimum daily ledger balance<sup>2</sup></p></li>
                            <li><p>$,1000 average monthly cycler ledger balance.</p></li>
                        </ul>
                    </div>
        
                    <div class="section">
                        <p>
                            6 free withdrawal transactions per monthly cycle<sup>4</sup><br />
                            Additional transaction/activity fee<sup>4</sup><br />
                            $6 each after 6 transactions
                        </p>
                    </div>
        
                    <div class="section">
                        <p>Interest rate varies</p>
                    </div>
                    
                    <div class="section">
                        <p>Monthly interests payment frequency</p>
                    </div>
                    
                    <div class="section">
                        <p>Quarterly statement frequency</p>
                        <p>Or, monthly with ACH activity</p>
                    </div>
                    
                    <div class="section">
                        <p>-</p>
                    </div>
                    
                    <div class="section account-features">
                        <h5>Account Features</h5>
                        <ul class="checkmark-bullets list-inside m-0 p-0">
                            <li>
                                <a href="#">Free {{appName}} VISA debit card</a>
                            </li>
                            <li>
                                <a href="#">Free {{appName}} mobile app and eBanking</a>
                            </li>
                            <li>
                                <a href="#">Access to thousands of fee-free ATMs</a>
                            </li>
                            <li>
                                Automatic savings plans
                            </li>
                        </ul>
                    </div>
        
                    <div class="footer">
                        <a class="button">OPEN NOW</a>
                        <a class="button holow">VIEW RATES & DISCLOSURE</a>
                    </div>
                </div>
                
                <div class="price-card">
                    <div class="header">
                        <h4>Essential Savings</h4>
                    </div>
        
                    <div class="section">
                        <p>$100 minimum opening deposit</p>
                    </div>
                    
                    <div class="section">
                        <p>
                            $5 monthly cycle maintenance fee<sup>1</sup><br />
                            Waived if one of the following requirements is met: 
                        </p>
        
                        <ul class="checkmark-bullets">
                            <li><p>$300 minimum daily ledger balance<sup>2</sup></p></li>
                            <li><p>$,1000 average monthly cycler ledger balance.</p></li>
                        </ul>
                    </div>
        
                    <div class="section">
                        <p>
                            6 free withdrawal transactions per monthly cycle<sup>4</sup><br />
                            Additional transaction/activity fee<sup>4</sup><br />
                            $6 each after 6 transactions
                        </p>
                    </div>
        
                    <div class="section">
                        <p>Interest rate varies</p>
                    </div>
                    
                    <div class="section">
                        <p>Monthly interests payment frequency</p>
                    </div>
                    
                    <div class="section">
                        <p>Quarterly statement frequency</p>
                        <p>Or, monthly with ACH activity</p>
                    </div>
                    
                    <div class="section">
                        <p>-</p>
                    </div>
                    
                    <div class="section account-features">
                        <h5>Account Features</h5>
                        <ul class="checkmark-bullets list-inside m-0 p-0">
                            <li>
                                <a href="#">Free {{appName}} VISA debit card</a>
                            </li>
                            <li>
                                <a href="#">Free {{appName}} mobile app and eBanking</a>
                            </li>
                            <li>
                                <a href="#">Access to thousands of fee-free ATMs</a>
                            </li>
                            <li>
                                Automatic savings plans
                            </li>
                        </ul>
                    </div>
        
                    <div class="footer">
                        <a class="button">OPEN NOW</a>
                        <a class="button holow">VIEW RATES & DISCLOSURE</a>
                    </div>
                </div>
                
                <div class="price-card">
                    <div class="header">
                        <h4>Essential Savings</h4>
                    </div>
        
                    <div class="section">
                        <p>$100 minimum opening deposit</p>
                    </div>
                    
                    <div class="section">
                        <p>
                            $5 monthly cycle maintenance fee<sup>1</sup><br />
                            Waived if one of the following requirements is met: 
                        </p>
        
                        <ul class="checkmark-bullets">
                            <li><p>$300 minimum daily ledger balance<sup>2</sup></p></li>
                            <li><p>$,1000 average monthly cycler ledger balance.</p></li>
                        </ul>
                    </div>
        
                    <div class="section">
                        <p>
                            6 free withdrawal transactions per monthly cycle<sup>4</sup><br />
                            Additional transaction/activity fee<sup>4</sup><br />
                            $6 each after 6 transactions
                        </p>
                    </div>
        
                    <div class="section">
                        <p>Interest rate varies</p>
                    </div>
                    
                    <div class="section">
                        <p>Monthly interests payment frequency</p>
                    </div>
                    
                    <div class="section">
                        <p>Quarterly statement frequency</p>
                        <p>Or, monthly with ACH activity</p>
                    </div>
                    
                    <div class="section">
                        <p>-</p>
                    </div>
                    
                    <div class="section account-features">
                        <h5>Account Features</h5>
                        <ul class="checkmark-bullets list-inside m-0 p-0">
                            <li>
                                <a href="#">Free {{appName}} VISA debit card</a>
                            </li>
                            <li>
                                <a href="#">Free {{appName}} mobile app and eBanking</a>
                            </li>
                            <li>
                                <a href="#">Access to thousands of fee-free ATMs</a>
                            </li>
                            <li>
                                Automatic savings plans
                            </li>
                        </ul>
                    </div>
        
                    <div class="footer">
                        <a class="button">OPEN NOW</a>
                        <a class="button holow">VIEW RATES & DISCLOSURE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- dark card with photo -->
<div class="container">
    <div class="row">
        <h2 class="my-8 text-center">We can also help you with...</h2>
        <div class="dark-rect-and-photo">
            <div class="primary-dark-rect">
                <h3 class="">Certificates of Deposits (CDs)</h3>
                <p>
                    When you want a higher than average interest 
                    rate, a set rate of return and assurance that 
                    your funds are insured, use a CD for your 
                    savings and retirement goals.
                </p>

                <a class="btn btn-outlined"
                    href="/personal/banking/certificate-of-deposit">Learn More</a>
            </div>
            <div class="photo-container">
                <!-- photo is here -->
                <img src="../../../assets/images/family-dad-playing-dolls-with-daughter-small.webp" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="help-and-support">
            <div class="gray-card">
                <h4>Help & Support</h4>
    
                <p>
                    <a>Switch Services</a>
                </p>
                
                <p>
                    <a>Enroll in eBanking</a>
                </p>
            </div>
            <div class="white-card">
                <div class="inner">
                    <img class="question-icon" 
                        src="../../../assets/images/icon-question-circle-59x60.webp" />
                    <h5>Have Questions?</h5>
                    <p>We're here to help.</p>
                    <p>Give us a call at {{bankPhoneNumber}}</p>
                    <a class="btn btn-primary">Email Us</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container find-advisor-container">
    <div class="row flex justify-between">
        <figure class="advisor-figure">
            <a>
                <img src="../../../assets/images/michelle-van-engen.jpg" />
            </a>
            <figcaption>
                Some staff name and address
            </figcaption>
        </figure>

        <div class="data">
            <h3>Your Trusted Partner for Life's Biggest Moments</h3>
            <p>
                No matter what financial needs you may have, 
                we're here for you. Our experienced advisors 
                work closely with you to build the right path 
                to help you achieve your goals.
            </p>
            <a class="btn btn-primary">Find an Advisor</a>
        </div>
    </div>
</div>

<app-footer></app-footer>