<app-header
  heroTitle="As your needs evolve, we do too."
  heroDescription="
        Life moves quickly, and so do we. 
        Whether face-to-face or digitally, 
        we keep pace with the rapidly 
        evolving financial services 
        landscape while providing the 
        highest level of personal 
        service."
  heroImageUrl="../assets/images/personal/woman-sitting-at-kitchen-counter-with-laptop-and-dog-hero.webp"
>
</app-header>

<div class="custom-container">
  <div class="row btf-title">
    <h2>Your Financial Needs Are Provided</h2>
    <p class="light">
      Your financial needs are about more than a transaction. We take the time
      to understand every need so you can plan for life’s ups and downs while
      finding the best ways to save and spend your money. How can we help you
      live the life you've always imagined?
    </p>
  </div>
</div>

<div class="custom-container">
  <div class="row">
    <ul class="service-overview-list">
      <li>
        <app-service-overview-list-item
          title="Personal Banking"
          [targetUrl]="baseUrl + '/banking'"
          featuredPhotoUrl="../assets/images/personal/kids-young-girl-watering-garden-large.webp"
          description="
                        In planning for the future, your 
                        goals are as unique as you are. 
                        We get it. That’s why we offer a 
                        range of personal banking services 
                        few financial institutions can match, 
                        along with people who are focused on 
                        doing what's right for you."
        >
        </app-service-overview-list-item>
      </li>
      <li>
        <app-service-overview-list-item
          title="Home & Personal Loans"
          [isFlipped]="true"
          [targetUrl]="baseUrl + '/home-personal-loans'"
          featuredPhotoUrl="../assets/images/personal/family-dad-waiting-for-son-with-open-arms-large.jpg"
          description="
                        Finance your next move, big purchase 
                        or dream vacation with a loan 
                        personalized just for you. Tell us 
                        what your plans are, and we’ll help 
                        you select the best loan to make your 
                        goals come to life."
        >
        </app-service-overview-list-item>
      </li>
      <li>
        <app-service-overview-list-item
          title="Investing & Retirement"
          [targetUrl]="baseUrl + '/investment-retirement'"
          featuredPhotoUrl="../assets/images/personal/couple-retired-having-fun-sailing-large.webp"
          description="
                        Whether you're looking to invest 
                        your money, build a financial plan 
                        or prepare for retirement, our 
                        advisors can help you create a story 
                        that grows, manages and protects your 
                        wealth for future generations."
        >
        </app-service-overview-list-item>
      </li>
      <li>
        <app-service-overview-list-item
          title="Personal Insurance"
          [isFlipped]="true"
          [targetUrl]="baseUrl + '/personal-insurance'"
          featuredPhotoUrl="../assets/images/personal/personal-insurance/family-father-and-daughter-looking-at-tablet-on-couch-large.jpg"
          description="
                        You have a lot to protect – your home, 
                        your valuables, your family’s financial 
                        security and, most of all, you and your 
                        family. We can help you understand your 
                        risks and provide you with personal insurance 
                        solutions to cover you no matter what 
                        life has in store."
        >
        </app-service-overview-list-item>
      </li>
    </ul>
  </div>
</div>

<app-call-us-row></app-call-us-row>
<app-footer></app-footer>
