<div class="jumbotron">
    <!-- header stuff comes here -->
    <div class="nav-container"></div>
    <div>
        <div class="content">
            <h1>Banking</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sit officiis distinctio necessitatibus similique error 
                quidem iure temporibus eveniet id dolores assumenda 
                repudiandae accusantium nulla sed eius excepturi 
                adipisci, laudantium in?
            </p>
        </div>
    </div>
</div>

<header class="invisible" style="display: none;">
    <nav id="top"></nav>
    <nav id="primary">
        <ul class="nav-bar">
            <li><a href="/personal">Personal</a></li>
            <li><a href="/business">Business</a></li>
        </ul>
    </nav>
    <nav id="secondary">
        <ul class="nav-bar">
            <li><a href="#">Banking</a></li>
            <li><a href="#">Home & Personal Loans</a></li>
            <li><a href="#">Investing & Retirement</a></li>
            <li><a href="#">Insurance</a></li>
            <li><a href="#">Your Financial Life</a></li>
        </ul>
        <div id="sub-nav">
            <div class="space-x-8">
                <span>
                    <h2>Bank your Way</h2>
                    <ul>
                        <li><a href=#>Checking</a></li>
                        <li><a href=#>Savings and Money Market</a></li>
                        <li><a href=#>Health Savings Account (HSA)</a></li>
                        <li><a href=#>Certificates of Deposit (CDs)</a></li>
                        <li><a href=#>Cards</a></li>
                    </ul>
                </span>
                
                <span>
                    <h2>Bank your Way</h2>
                    <ul>
                        <li><a href=#>Checking</a></li>
                        <li><a href=#>Savings and Money Market</a></li>
                        <li><a href=#>Health Savings Account (HSA)</a></li>
                        <li><a href=#>Certificates of Deposit (CDs)</a></li>
                        <li><a href=#>Cards</a></li>
                    </ul>
                </span>
                
                <span>
                    <h2>Bank your Way</h2>
                    <ul>
                        <li><a href=#>Checking</a></li>
                        <li><a href=#>Savings and Money Market</a></li>
                        <li><a href=#>Health Savings Account (HSA)</a></li>
                        <li><a href=#>Certificates of Deposit (CDs)</a></li>
                        <li><a href=#>Cards</a></li>
                    </ul>
                </span>
            </div>
        </div>
    </nav>
</header>

<!-- <div>
    <div>
        <h3>Checking your way</h3>
        <p>
            Whether you prefer online and mobile banking, 
            unlimited debit card transactions or no 
            monthly fees, we have you covered. You'll have 
            access to fee-free ATMs, contactless debit cards, 
            Mobile Deposit and Overdraft Services. 
        </p>
        <p>
            Learn how to simplify your finances or open an account in minutes.
        </p>
    </div>
</div>

<div>
    <h2>Realize your financial goals</h2>
    <p class="light">
        Suggestions and inspirational ideas to help 
        you plan the big decisions in your life.
    </p>
</div> -->

<div class="container">
    <div class="row btf-title">
        <h2>Our Approach</h2>
        <p class="light">
            Your financial needs are about more than a 
            transaction. We take the time to understand 
            every need so you can plan for life’s ups 
            and downs while finding the best ways to 
            save and spend your money. How can we 
            help you live the life you've always imagined?
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <ul class="service-overview-list">
            <li class="card-and-image-container">
                <div class="data-wrapper">
                    <div class="data">
                        <h3><a>Checking Accounts</a></h3>
                        <p>
                            Find an account to best fit your life. 
                            Our advisors will learn what is important 
                            to you to make managing your money easy 
                            and worry-free.
                        </p>
    
                        <a class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/couple-sitting-on-couch-looking-thorugh-book-small.webp" />
                    <span class="image-overlay"></span>
                </div>
            </li>
            <li class="card-and-image-container flipped">
                <div class="data-wrapper">
                    <div class="data flip-right">
                        <h3><a>Savings and Money Market Accounts</a></h3>
                        <p>
                            Be prepared for life’s little surprises 
                            with a savings or money market account. 
                            If you're just starting to save, building 
                            an emergency fund, or saving for something 
                            special, we can help you reach your goals.
                        </p>
    
                        <a class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/woman-gardening-on-her-rooftop-small.webp" />
                    <div class="image-overlay"></div>
                </div>
            </li>
            <li class="card-and-image-container">
                <div class="data-wrapper">
                    <div class="data">
                        <h3><a>Health Savings Account (HSA)</a></h3>
                        <p>
                            A Health Savings Account (HSA) makes 
                            managing healthcare costs easier. 
                            With an HSA, you can save money to 
                            pay for qualified medical expenses.
                        </p>
    
                        <a class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/family-mom-with-daughter-and-doctor-for-checkup-small.webp" />
                    <span class="image-overlay"></span>
                </div>
            </li>
            <li class="card-and-image-container flipped">
                <div class="data-wrapper">
                    <div class="data flip-right">
                        <h3><a>Certificates of Deposits (CDs)</a></h3>
                        <p>
                            When you want a higher than average 
                            interest rate, a set rate of return 
                            and assurance that your funds are insured, 
                            use a CD for your savings and retirement goals.
                        </p>
    
                        <a class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/family-dad-playing-dolls-with-daughter-small.webp" />
                    <div class="image-overlay"></div>
                </div>
            </li>
            <li class="card-and-image-container">
                <div class="data-wrapper">
                    <div class="data">
                        <h3><a>Cards</a></h3>
                        <p>
                            Find a card for every need. 
                            The debit, credit and gift 
                            cards you choose can help you 
                            through all of life’s moments.
                        </p>
    
                        <a class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/friends-two-women-shopping-small.jpg" />
                    <span class="image-overlay"></span>
                </div>
            </li>
            <li class="card-and-image-container flipped">
                <div class="data-wrapper">
                    <div class="data flip-right">
                        <h3><a>Online & Mobile Banking</a></h3>
                        <p>
                            Online and mobile banking 
                            tools make managing your money 
                            fast and easy. Anywhere, anytime 
                            options to deposit checks, send 
                            money and more from your mobile 
                            phone or the comfort of your home.
                        </p>
    
                        <a class="btn outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/woman-working-in-office-with-laptop-mobile-phone-small.webp" />
                    <div class="image-overlay"></div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        <ul class="more-info-card-list">
            <li class="card">
                <div class="image-wrapper">
                    <img src="../../assets/images/family-dad-playing-dolls-with-daughter-small.webp" />
                </div>
                <div class="data-wrapper">                    
                    <h3>Creating a Budget</h3>
                    <p>
                        Lorem ipsum dolor sit amet 
                        consectetur adipisicing elit. 
                        Facilis esse consequatur placeat 
                        ipsum reiciendis libero 
                        magnam totam harum sint cupiditate 
                        officiis, mollitia exercitationem 
                        praesentium porro voluptatibus sunt 
                        repellat! A, veniam?
                    </p>

                    <a class="btn">Learn More</a>
                </div>
            </li>
        </ul>
    </div>
</div>

<app-footer></app-footer>

<!-- <footer>
    <div class="top-section">
        <div>
            <h5>About Us</h5>
            <nav>
                <ul>
                    <li><a href="#">Our History</a></li>
                    <li><a href="#">Our Leadership</a></li>
                    <li><a href="#">Community Involvement</a></li>
                    <li><a href="#">News & Events</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </nav>
        </div>
        
        <div>
            <h5>Resources</h5>
            <nav>
                <ul>
                    <li><a href="#">Our History</a></li>
                    <li><a href="#">Our Leadership</a></li>
                    <li><a href="#">Community Involvement</a></li>
                    <li><a href="#">News & Events</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="legal-section">
        <div>
            <span>
                <p>
                    Products and services offered by these 
                    {{bankName}} Financial Group companies: {{bankName}} Bank, 
                    {{bankName}} Wealth Inc. and {{bankName}} Insurance Services, LLC.
                </p>
            </span>
            
            <span>                
                <h5>{{bankName}} Wealth</h5>
                <p>
                    Wealth management services are provided 
                    through {{bankName}} Bank and {{bankName}} Wealth Inc., 
                    {{bankName}} Financial Group companies. 
                    Additional information about {{bankName}} Wealth Inc., 
                    a registered investment adviser, and its 
                    investment adviser representatives is 
                    available at 
                    <a href="http://www.adviserinfo.sec.gov">adviserinfo.sec.gov.</a>
                    <br />
                    NOT FDIC INSURED | NO BANK GUARANTEE | MAY LOSE VALUE
                </p>
            </span>
        </div>

        <div>
            <span>
                <ul class="inline-list">
                    <li>
                        <a>Privacy Policy</a>
                    </li>
                    <li>
                        <a>Terms of Use</a>
                    </li>
                </ul>
                <p>&copy; Copyright 2019 Johnson Financial Group. All rights reserved.</p>
            </span>
            <span>
                <h5>{{bankName}} Bank</h5>
                <p>
                    Bank services are provided by {{bankName}} Bank, 
                    Member FDIC, Equal Housing Lender. 
                    Bank services are provided without regard 
                    to race, color, national origin, sex, handicap, 
                    or familial status.
                </p>
            </span>

            <span>
                <h5>{{bankName}} Insurance</h5>
                <p>
                    Insurance products are provided by 
                    {{bankName}} Insurance Services, LLC. 
                    Not FDIC insured, not a deposit, not insured 
                    by any federal government agency, not bank 
                    guaranteed, may lose value.
                </p>
            </span>
        </div>
    </div>
</footer> -->