
<div class="w-full banking-header" style="height: 60px;"></div>
<div class="mx-auto my-12 py-8" style="width: 800px; max-width: 90%;">
    <div class="flex space-x-8" style="border: 1px solid lightgray; border-radius: 8px;">
        <div style="height: auto; width: 300px; overflow-y: hidden; 
            background-repeat: no-repeat;
            background-size: cover;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            background-image: url(../../assets/images/bank_1.jpg);">
        </div>
        <div class="pb-8">
            <form class="my-4 mr-8" [formGroup]="form" (ngSubmit)="signin()">
        
                <div class="text-center mb-8 px-8">
                    <img src="../../assets/images/logo-square.png" 
                        class="mx-auto outline-none border-none mb-8"
                        style="width: 70px;" />
                    <h4 class="text-3xl my-4 font-light">Online Banking</h4>
                    <p>
                        <a href="/create-account" class="text-blue-700 font-medium">Register</a> 
                        if you do not already have an account.
                    </p>
                </div>
        
                <div>
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Your Email Address or Phone Number</mat-label>
                        <input matInput required email formControlName="id" />
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Password</mat-label>
                        <input matInput required formControlName="password" type="password" />
                    </mat-form-field>
                </div>
        
                <div class="text-center">
                    <p style="margin: 1rem 0;" class="text-red-600">{{errorMessage}}</p>
        
                    <button 
                        mat-raised-button 
                        class="yellow-button w-full"
                        [disabled]="isWorking">
                        Start Online Banking
                    </button>
                </div>
            </form>

            <div class="security-images flex items-center justify-center space-x-2 py-4">
                <img src="../../assets/images/security_norton.png" />
                <img src="../../assets/images/security_3.jpg" />
                <img src="../../assets/images/security_2.png" />
            </div>

        </div>
    </div>
</div>