<app-loader *ngIf="isFetching"></app-loader>

<div
  *ngIf="isErrorFetching"
  class="flex items-center justify-center mx-auto"
  style="height: 30vh"
>
  <p>An error has occured. Please reload your browser.</p>
</div>

<div>
  <mat-tab-group>
    <mat-tab label="Bank Statement">
      <div class="my-4">
        <app-transaction-type-detail
          [transactions]="transactions"
          [isShowTransactionType]="true"
        >
        </app-transaction-type-detail>
      </div>
    </mat-tab>
    <mat-tab label="Deposits">
      <div>
        <app-transaction-type-detail [transactions]="deposits">
          <button
            mat-raised-button
            color="primary"
            (click)="makeDeposit()"
            class="yellow-button"
          >
            MAKE A DEPOSIT
          </button>
        </app-transaction-type-detail>
      </div>
    </mat-tab>
    <mat-tab label="Withdrawals">
      <div>
        <app-transaction-type-detail [transactions]="withdrawals">
          <button
            mat-raised-button
            color="primary"
            (click)="makeWithdrawal()"
            class="yellow-button"
          >
            Make a Withdrawal
          </button>
        </app-transaction-type-detail>
      </div>
    </mat-tab>
    <mat-tab label="Transfers">
      <div>
        <app-transfers></app-transfers>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
