
<!-- <div *ngIf="isFetching" style="height: 30vh;" class="mx-auto flex items-center justify-center">
    <p>Loading Account Transactions</p>
</div> -->

<app-loader *ngIf="isFetching"></app-loader>

<div *ngIf="isErrorFetching" class="flex items-center justify-center mx-auto" style="height: 30vh;">
    <p>An error has occured. Please reload your browser.</p>
</div>

<!-- transactions table -->
<div>
    <table class="w-full" mat-table [dataSource]="transactions">
        <ng-container matColumnDef="accountNumber">
            <th mat-header-cell *matHeaderCellDef> Account Number </th>
            <td mat-cell *matCellDef="let element">{{element.account.accountNumber}}</td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Transaction Type </th>
            <td mat-cell *matCellDef="let element" style="text-transform: capitalize;">
                {{element.type}}
            </td>
        </ng-container>
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element">
                <strong class="text-gray-700">
                    <span *ngIf="selectedCurrency.id == 'usd_currency'">USD</span>
                    <span *ngIf="selectedCurrency.id == 'euro_currency'">EUR</span>
                </strong>  &nbsp; 
                <span class='text-gray-900'>
                    {{(element.amount * utilityService.selectedCurrency.rate)?.toFixed(2)}}
                </span>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element">{{element.createdAt}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="transactionsTableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: transactionsTableColumns;"></tr>        
    </table>

    <div class="my-4 flex items-center justify-between">
        <p class="text-base">
            <span class="text-gray-700">Total: </span>
            <span class="text-gray-900 font-medium">
                <span *ngIf="selectedCurrency.id == 'usd_currency'">
                    {{utilityService.dollarSymbol}}
                </span>
                <span *ngIf="selectedCurrency.id == 'euro_currency'">
                    {{utilityService.euroSymbol}}
                </span>
                <!-- {{transactedAmount?.toFixed(2)}} -->
                {{(transactedAmount * utilityService.selectedCurrency.rate)?.toFixed(2)}}
            </span>
        </p>
    </div>
</div>
