
<div class="container">
    <div class="row btf-title">
        <h2>Managing Your Company's Cash Needs</h2>
        <p>
            Discover options tailored to meet your 
            specific liquidity and growth goals 
            through our checking, savings, 
            CDs and sweep accounts.
        </p>
    </div>
</div>

<div class="container">
    <div class="row btf-title">
        <h2>Savings, Money Market and CDs</h2>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title="Business Savings"
            iconImageUrl="../../../assets/images/business/cash-management/icon-piggy-bank-50x50.webp"
            description="
                Ideal for businesses that 
                want to grow savings while 
                maintaining easy and quick 
                access to cash.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Business Money Market"
            iconImageUrl="../../../assets/images/business/cash-management/icon-cash-flow-50x50.png"
            description="
                Ideal for businesses that require 
                flexibility to earn interest 
                while keeping assets 
                available.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="CDs"
            iconImageUrl="../../../assets/images/business/cash-management/icon-cash-grow-50x50.png"
            description="
                Ideal for businesses with 
                excess funds focused on 
                longer term growth goals, 
                and those looking to lock in 
                a higher interest rate to 
                earn more with a longer 
                term. ">
        </app-icon-and-content-item>
    </div>
</div>


<div class="container">
    <h2 class="text-center my-4">
        Learn more about investment solutions 
        with Johnson Financial Group Financial Advisors
    </h2>
    <div class="row more-info-card-container grid-cols-2" style="width: 850px;">
        <app-more-info-card 
            title="Business Checking"
            description="
                We offer business checking solutions to 
                help you efficiently manage your daily finances 
                while providing you with safety, 
                convenience and control.
            "
            linkUrl="/business/cash-management/business-accounts/business-checking"
            imageUrl="../../../assets/images/business/cash-management/woman-at-desk-working-through-papers-small.jpg">
        </app-more-info-card>
        <app-more-info-card 
            title="Savings, Money Market & CDs"
            description="
                Grow your business with flexible 
                savings options designed to put your 
                excess cash to work. The larger the average 
                balance, the higher the interest earned.
            "
            linkUrl="/business/cash-management/business-accounts/savings-money-market-cds"
            imageUrl="../../../assets/images/business/cash-management/group-manager-giving-direction-to-employees-small.jpg">
        </app-more-info-card>
        <!-- <app-more-info-card 
            title="Annuities"
            description="
                Looking to add more certainty 
                to your financial planning? Whether 
                you’re saving for retirement or already 
                retired, annuities may be the solution for you.
            "
            linkUrl="/personal/cash-management/invest-your-way/annuities"
            imageUrl="../../../assets/images/personal/cash-management/couple-dancing-in-their-living-room-small.jpg">
        </app-more-info-card> -->
    </div>
</div>

<footer></footer>