
<div class="container">
    <div class="row btf-title">
        <h2>Managing Your Company's Cash Needs</h2>
        <p>
            Discover options tailored to meet your 
            specific liquidity and growth goals 
            through our checking, savings, 
            CDs and sweep accounts.
        </p>
    </div>
</div>

<div class="container">
    <div class="row btf-title">
        <h2>Savings, Money Market and CDs</h2>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title="Business Savings"
            iconImageUrl="../../../assets/images/business/cash-management/icon-piggy-bank-50x50.webp"
            description="
                Ideal for businesses that 
                want to grow savings while 
                maintaining easy and quick 
                access to cash.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Business Money Market"
            iconImageUrl="../../../assets/images/business/cash-management/icon-cash-flow-50x50.png"
            description="
                Ideal for businesses that require 
                flexibility to earn interest 
                while keeping assets 
                available.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="CDs"
            iconImageUrl="../../../assets/images/business/cash-management/icon-cash-grow-50x50.png"
            description="
                Ideal for businesses with 
                excess funds focused on 
                longer term growth goals, 
                and those looking to lock in 
                a higher interest rate to 
                earn more with a longer 
                term. ">
        </app-icon-and-content-item>
    </div>
</div>

<footer></footer>