
<div class="container">
    <div class="row text-center">
        <h2>You can lease most types of equipment, including:</h2>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title="Computer Equipment"
            iconImageUrl="../../../assets/images/business/business-financing/icon-computer-50x50.png"
            description="">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Manufacturing"
            iconImageUrl="../../../assets/images/business/business-financing/icon-settings-50x50.png"
            description="">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Office and Medical"
            iconImageUrl="../../../assets/images/business/business-financing/icon-stethescope-50x50.png"
            description="">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Construction"
            iconImageUrl="../../../assets/images/business/business-financing/icon-construction-50x50.png"
            description="">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Rolling Stock"
            iconImageUrl="../../../assets/images/business/business-financing/icon-fast-delivery-50x50.png"
            description="">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="... and more"
            iconImageUrl="../../../assets/images/business/business-financing/icon-plus-sign-50x50.png"
            description="">
        </app-icon-and-content-item>
    </div>
</div>

<footer></footer>