
<div class="container">
    <div class="row btf-title">
        <h2>Claims Assistance & Advocacy</h2>
        <p class="font-light light">
            Through claims monitoring and 
            proactive engagement, you will know the 
            status and next steps of open, significant 
            claims which can impact your organization.
        </p>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title="Case Management"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-magnifying-glass-50x50.png"
            description="
                We address questionable claims 
                right away, working with you and the 
                adjusters to potentially deny fraudulent 
                workers' compensation claims. We can also 
                identify creative ways to safely return injured 
                workers back to their jobs and avoid 
                costly indemnity claims.
            ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Cost Containment"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-report-50x50.png"
            description="
                We follow the claims from first
                 report through appropriate reserving 
                 to resolution plans and closure in an 
                 effort to reduce your Experience Mod.
            ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Aggravated Inequity Reporting"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-mail-caution-50x50.png"
            description="
                We request the carrier file 
                and aggravated inequity correction 
                with the State Compensation Rating 
                Bureau on your behalf if the claim 
                qualifies for a correction at closure 
                or decrease in reserves.
            ">
        </app-icon-and-content-item>
    </div>
</div>
