

<app-header 
    heroTitle="Claims Advocacy"
    heroDescription="
        Take control over your business's claim outcomes..
    "
    heroImageUrl="../assets/images/business/business-insurance/men-sitting-at-table-reviewing-laptop-large.jpg">
</app-header>


<div class="custom-container">
    <app-image-and-content-row 
        title="Claims Management"
        paragraphs="
            <p>
                In large, complex claims circumstances, 
                our specialized claims team will be your 
                advocate to reinforce control over your 
                business’s claims outcomes.
            </p>
            <p>
                We'll work to develop strategies to 
                lessen or eliminate potential issues 
                that could lead to money out of 
                your pocket.
            </p>
            "
        imageUrl="../../../../assets/images/business/business-insurance/man-and-woman-solving-problem-on-clipboard.jpg">
    </app-image-and-content-row>
</div>

<div class="custom-container">
    <div class="row btf-title">
        <h2>Claims Assistance & Advocacy</h2>
        <p class="font-light light">
            Through claims monitoring and 
            proactive engagement, you will know the 
            status and next steps of open, significant 
            claims which can impact your organization.
        </p>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title="Case Management"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-magnifying-glass-50x50.png"
            description="
                We address questionable claims 
                right away, working with you and the 
                adjusters to potentially deny fraudulent 
                workers' compensation claims. We can also 
                identify creative ways to safely return injured 
                workers back to their jobs and avoid 
                costly indemnity claims.
            ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Cost Containment"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-report-50x50.png"
            description="
                We follow the claims from first
                 report through appropriate reserving 
                 to resolution plans and closure in an 
                 effort to reduce your Experience Mod.
            ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Aggravated Inequity Reporting"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-mail-caution-50x50.png"
            description="
                We request the carrier file 
                and aggravated inequity correction 
                with the State Compensation Rating 
                Bureau on your behalf if the claim 
                qualifies for a correction at closure 
                or decrease in reserves.
            ">
        </app-icon-and-content-item>
    </div>
</div>

<div class="custom-container">
    <div class="row">
        <div class="header">
            <h2>When should you contact us for help?</h2>
        </div>
    </div>

    <div class="row">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <app-title-shadow-card
                title="Employee had serious work-related injury">
            </app-title-shadow-card>
            <app-title-shadow-card
                title="Significant loss or damage to property, equipment or vehicle">
            </app-title-shadow-card>
            <app-title-shadow-card
                title="Carrier informed you there may not be coverage">
            </app-title-shadow-card>
            <app-title-shadow-card
                title="Problems reaching settlement with carrier">
            </app-title-shadow-card>
            <app-title-shadow-card
                title="Inaccurate loss run data or level of reserves">
            </app-title-shadow-card>
        </div>
    </div>
</div>

<!-- dark card with photo -->
<div class="custom-container">
    <div class="row">
        <div class="header">
            <h2 class="my-8 text-center">We can also help you with...</h2>
        </div>        
    </div>
    
    <app-image-and-dark-rect-content-row
        title="Risk Management"
        description="
            Proactively control financial loss 
            to your organization by identifying, 
            analyzing and controlling your risks 
            and exposures to prevent claims 
            before they happen.
        "
        [hasLink]="true"
        linkUrl="/business/business-insurance/risk-management"
        imageUrl="../../../assets/images/business/business-insurance/man-working-in-a-manufacturing-facility-large.jpg">
    </app-image-and-dark-rect-content-row>
</div>

<app-call-us-row></app-call-us-row>

<app-find-advisor-row
    advisorName="Bret Almstedt, VP Wealth Retirement Plan Services Manager"
    advisorPhotoUrl="../../../assets/images/business/employee-benefits/bret-almstedt.jpg">
</app-find-advisor-row>

<app-footer></app-footer>
