

<div class="container">
    <div class="row btf-title">
        <h2>Benefits</h2>
        <p>
            Disability benefits can be used if 
            you are unable to earn an income, 
            regardless of how you become injured or ill. 
        </p>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title="Multiple Options"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-flexible-options-50x50.png"
            description="
                Provides the appropriate professional 
                care when you are unable to care for 
                yourself for an extended period of time. ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Salary Replacement"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-dollar-sign-shield-50x50.png"
            description="
                Depending on your coverage, 
                40-70% of your monthly base 
                income may be replaced tax-free 
                up to a predetermined cap.
            ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Returning to Work"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-calendar-50x50.png"
            description="
                Additional benefits may cover 
                training services to help you 
                get back to work.
            ">
        </app-icon-and-content-item>
    </div>
</div>

<app-footer></app-footer>