
<app-header 
    heroTitle="Risk Management"
    heroDescription="
        Proactively control financial loss to your 
        organization by identifying, analyzing and 
        controlling your risks and exposures to 
        prevent claims before they happen.
    "
    heroImageUrl="../assets/images/business/business-insurance/man-working-in-a-manufacturing-facility-large.jpg">
</app-header>


<div class="custom-container">
    <app-image-and-content-row 
        title="Loss Prevention Services to Mitigate Your Risk"
        paragraphs="
            <p>
                Effectively managing your business safety 
                and loss control is critical to reducing 
                your costs and protecting your employees. 
                We can help you manage risk and control 
                costs so your business continues to thrive. 
            </p>
            "
        imageUrl="../../../../assets/images/business/business-insurance/inspector-documenting-numbers-on-gauges-in-maintenance-room.jpg">
    </app-image-and-content-row>
</div>

<div class="custom-container">
    <div class="row btf-title">
        <h2>Loss Prevention</h2>
        <p>
            Stay in compliance, protect your 
            organization and employees, reinforce 
            procedures and mitigate costs.
        </p>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title="Safety Plan"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-ambulance-50x50.webp"
            description="
                We will work with you to 
                prevent workplace injuries by 
                developing an action plan for 
                your business that addresses 
                safety, training, Occupational 
                Safety and Health Administration (OSHA), 
                and other issues.
            ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Reduce Experience Mod"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-cost-efficient-50x50.png"
            description="
                Reduce the number and severity 
                of workers’ compensation claims 
                through safety and return to work 
                programs as well as supervisor 
                training.
            ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="OSHA Compliance"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-report-50x50.png"
            description="
                On-site or online safety training, 
                OSHA 300 log recordkeeping, citation 
                procedure assistance, and data/trend 
                analysis enable you to stay in 
                compliance and keep your employees 
                safe.
            ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Accident Investigations"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-magnifying-glass-50x50.png"
            description="
                Gain a better understanding of the 
                impact of claims and root cause analysis 
                to improve your ability to prevent 
                similar losses in the future.
            ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Fleet Compliance and Training"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-fast-delivery-50x50.png"
            description="
                We can provide on-site consultation 
                to protect your fleet, including DOT 
                compliance, loss control action plans, 
                outreach and training, workers’ 
                compensation and employee safety 
                communication.
            ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Information Protection and Privacy"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-password-input-50x50.png"
            description="
                With new technologies arising 
                every day, we offer guidance on how 
                to protect your business against theft 
                of information, identity or breaches.
            ">
        </app-icon-and-content-item>
    </div>
</div>


<div class="custom-container">
    <div class="row btf-title">
        <h2>Safety Solutions</h2>
        <p>
            It isn’t enough to simply be aware 
            of safety standards and best practices. 
            Empower your employees to adhere to 
            safety requirements in order to control 
            costs related to injuries and illnesses.
        </p>
    </div>

    <div class="row flex items-stretch icon-and-content-item-container">
        <app-icon-and-content-item
            title="Workplace Safety Audits"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-construction-50x50.png"
            description="
                Prevent workplace injuries through 
                safety audits and assessments for 
                machine guarding, personal protective 
                equipment, fall protection/prevention, 
                and much more.
            ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Safety Culture"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-conversation-50x50.png"
            description="
                Organizations with a robust safety 
                culture have better results. We can 
                assist in your safety committees, 
                provide resources for safety talks, 
                and offer research and findings on 
                safety topics.
            ">
        </app-icon-and-content-item>
    </div>
</div>

<div class="custom-container">
    <div class="row btf-title">
        <h2>Benchmarking</h2>
        <p>
            Benchmarking can help validate the 
            insurance program our advisors customize 
            for your business, especially during the 
            renewal process. 
            It can also help shape risk management 
            decisions and identify trends happening 
            in the market. Our advisors 
            will work with you to:
        </p>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title="dentify"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-network-50x50.png"
            description='
                Identify comparable "peer" companies 
                with similar characteristics, including 
                size and type of industry, on a national basis.
            '>
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Compare"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-magnifying-glass-50x50.png"
            description='
                Compare the financial facets, 
                such as limit, deductible and premium, 
                of your specific insurance program to 
                those of your “peer” companies.
            '>
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Review"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-report-50x50.png"
            description='
                Review the results and help you 
                understand how your insurance 
                program compares to your "peer" 
                companies. 
            '>
        </app-icon-and-content-item>
    </div>
</div>

<app-call-us-row></app-call-us-row>

<app-find-advisor-row
    advisorName="Bret Almstedt, VP Wealth Retirement Plan Services Manager"
    advisorPhotoUrl="../../../assets/images/business/employee-benefits/bret-almstedt.jpg">
</app-find-advisor-row>


<app-footer></app-footer>