
<div class="container">
    <div class="row text-center">
        <h2>Features</h2>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title="Fast"
            iconImageUrl="../../../assets/images/business/business-financing/icon-stopwatch-50x50.png"
            description="
            With decisions made locally, our team is able to work quickly through the loan approval process.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Simple"
            iconImageUrl="../../../assets/images/business/business-financing/icon-simple-50x50.png"
            description="
                We guide you through a
                simple and easy loan process.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Competitive"
            iconImageUrl="../../../assets/images/business/business-financing/icon-rewards-50x50.png"
            description="
                We offer a variety of financing 
                solutions at competitive 
                rates and terms.">
        </app-icon-and-content-item>
    </div>
</div>

<footer></footer>
