<header style="height: 70vh; overflow: hidden; color: white !important;">
    <div class="jumbotron" style="background-image: url(../../assets/images/burst-kUqqaRjJuw0-unsplash.jpg);">
        <!-- header stuff comes here -->
        <div class="nav-container">
            <nav id="top" class="flex items-center justify-end px-4">
                <ul class="flex justify-end space-x-4">
                    <li>
                        <a href="/contact-us">Contact Us</a>
                    </li>
                    <li>
                        <a href="/about-us">About Us</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                </ul>
            </nav>
            <nav id="primary">
                <ul class="nav-list">
                    <li><a href="/personal">Personal</a></li>
                    <li><a href="/business">Business</a></li>
                </ul>
            </nav>
            <nav id="secondary">
                <ul class="nav-list">
                    <li>
                        <a href="/personal/banking">Banking</a>
                        <div class="sub-nav">
                            <div class="space-x-6">
                                <span>
                                    <h2>Bank your Way</h2>
                                    <ul>
                                        <li><a href="/personal/banking/checking">Checking</a></li>
                                        <li><a href="/personal/banking/savings-and-money-market">Savings and Money Market</a></li>
                                        <li><a href="/personal/banking/health-savings-account">Health Savings Account (HSA)</a></li>
                                        <li><a href="/personal/banking/certificate-of-deposit">Certificates of Deposit (CDs)</a></li>
                                        <li><a href="/personal/banking/cards">Cards</a></li>
                                    </ul>
                                </span>
                                <span>
                                    <h2>Bank your Way</h2>
                                    <ul>
                                        <li><a href=#>Checking</a></li>
                                        <li><a href=#>Savings and Money Market</a></li>
                                        <li><a href=#>Health Savings Account (HSA)</a></li>
                                        <li><a href=#>Certificates of Deposit (CDs)</a></li>
                                        <li><a href=#>Cards</a></li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/personal/home-personal-loans">Home & Personal Loans</a>                        
                        <div class="sub-nav">
                            <div class="space-x-8">
                                <span>
                                    <h2>Finance Your Goals</h2>
                                    <ul>
                                        <li><a href="/personal/home-personal-loans/home-loans">Home Loans</a></li>
                                        <li>
                                            <a href="/personal/home-personal-loans/home-equity-loans-lines-of-credit">
                                                Home Equity Loans & Lines of Credit
                                            </a>
                                        </li>
                                        <li><a href="/personal/home-personal-loans/construction-lot-loans">Contruction & Lot Loans</a></li>
                                        <li><a href="/personal/home-personal-loans/personal-loans-lines-of-credit">Personal Loans & Lines of Credit</a></li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/personal/investment-retirement">Investing & Retirement</a>                        
                        <div class="sub-nav">
                            <div class="space-x-8">
                                <span>
                                    <h2>Plan For Your Future</h2>
                                    <ul>
                                        <li>
                                            <a href="/personal/investment-retirement/retirement-financial-planning">
                                                Retirement & Financial Planning
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/personal/investment-retirement/investment-management">
                                                Investment Management
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/personal/investment-retirement/invest-your-way">
                                                Invest Your Way
                                            </a>
                                        </li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/personal/personal-insurance">Insurance</a>
                        <div class="sub-nav">
                            <div class="space-x-8">
                                <span>
                                    <h2>Protect Your Home</h2>
                                    <ul>
                                        <li><a href="/personal/personal-insurance/home-condo">Home & Condo</a></li>
                                        <li><a href="/personal/personal-insurance/renters">Renters</a></li>
                                        <li><a href="/personal/personal-insurance/flood">Flood</a></li>
                                    </ul>
                                </span>
                                <span>
                                    <h2>Protect Yourself</h2>
                                    <ul>
                                        <li>
                                            <a href="/personal/personal-insurance/life">Life</a>
                                        </li>
                                        <li>
                                            <a href="/personal/personal-insurance/long-term-care">Long-Term Care</a>
                                        </li>
                                        <li>
                                            <a href="/personal/personal-insurance/disability">Disability</a>
                                        </li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div id="sub-nav" style="display: none">
                    <div class="space-x-8">
                        <span>
                            <h2>Bank your Way</h2>
                            <ul>
                                <li><a href=#>Checking</a></li>
                                <li><a href=#>Savings and Money Market</a></li>
                                <li><a href=#>Health Savings Account (HSA)</a></li>
                                <li><a href=#>Certificates of Deposit (CDs)</a></li>
                                <li><a href=#>Cards</a></li>
                            </ul>
                        </span>
                        
                        <span>
                            <h2>Bank your Way</h2>
                            <ul>
                                <li><a href=#>Checking</a></li>
                                <li><a href=#>Savings and Money Market</a></li>
                                <li><a href=#>Health Savings Account (HSA)</a></li>
                                <li><a href=#>Certificates of Deposit (CDs)</a></li>
                                <li><a href=#>Cards</a></li>
                            </ul>
                        </span>
                        
                        <span>
                            <h2>Bank your Way</h2>
                            <ul>
                                <li><a href=#>Checking</a></li>
                                <li><a href=#>Savings and Money Market</a></li>
                                <li><a href=#>Health Savings Account (HSA)</a></li>
                                <li><a href=#>Certificates of Deposit (CDs)</a></li>
                                <li><a href=#>Cards</a></li>
                            </ul>
                        </span>
                    </div>
                </div>
            </nav>
        </div>
        <div>
            <div class="content mt-12 text-white" style="color: white;">
                <h1>Contact Us</h1>
                <p>Have a question? Call our customer support center or email us using the form below.</p>
            </div>
        </div>
    </div>
</header>

<div id="call" class="custom-container">
    <div class="header">
        <h2>Call Us</h2>
        <p class="light">
            We're here for you anytime! Contact us anytime.
        </p>
    </div>

    <div class="header">
        <h2>{{bankPhoneNumber}}</h2>
        <p class="light">
            For persons who are deaf, hard of 
            hearing or have speech disabilities, 
            you may contact us using the nationwide 
            Telecommunications Relay Service by dialing 711.
        </p>
    </div>
</div>

<div id="email" class="custom-container">
    <div class="header">
        <h2>Email Us</h2>
        <p class="light">
            Tell us what you need us to help you with. 
            We're always here to serve you.
        </p>
    </div>

    
<div>
    <form [formGroup]="form" class="mx-auto my-8" 
    style="width: 700px; max-width: 90%;" (ngSubmit)="send()">
        <div class="flex items-center space-x-8">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>First Name</mat-label>
                <input required matInput formControlName="fName" />
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Last Name</mat-label>
                <input required matInput formControlName="lName" />
            </mat-form-field>
        </div>
        
        <div class="flex items-center space-x-8">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Email Address</mat-label>
                <input required matInput formControlName="email" />
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Phone Number (Intl. Format)</mat-label>
                <input required matInput formControlName="phone" />
            </mat-form-field>
        </div>
        
        <div class="flex items-center space-x-8">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Questions / Comments</mat-label>
                <textarea matInput required formControlName="questionsOrComments" rows="5"></textarea>
            </mat-form-field>
        </div>

        <div>
            <button class="yellow-button w-full" 
            mat-raised-button
            [disabled]="isSending">SEND</button>
        </div>

    </form>
</div>

</div>




<!-- <div class='service-title mx-auto my-6 mt-12' style="width: 700px; max-width: 90%;">
    <p class="text-4xl">Contact Us</p>
    <p>
        Get in touch with us with your queries, suggestions, comments and any feedbacks.
        <br />We will be glad to hear from you.
    </p>
</div> -->

<app-footer></app-footer>