

<app-header 
    heroTitle="About Us"
    heroDescription="
        Strong family values, dedicated 
        associates, loyal clients, engaged 
        communities. Financial success 
        with a long-term vision.
    "
    heroImageUrl="../../assets/images/staff/sam-johnson-courtyard-statue.jpg">
</app-header>

<div id="history" class="custom-container" style="padding-top: -100px;">
    <div class="header">
        <h2>Our Story</h2>
        <p>
            Strong family values, dedicated 
            associates, loyal clients, engaged 
            communities. Financial success 
            with a long-term vision.
        </p>
    </div>
    
</div>

<div id="story" class="custom-container">    
    <div class="header">
        <h2>We take your legacy as seriously as we do our own</h2>
    </div>

    <div class="row">
        <app-image-and-content-row
            title="Hear Our Story"
            paragraphs="
                <p>
                    In 1974, Michael Osborne Hudson, fourth 
                    generation leader of one of the most 
                    successful privately owned companies 
                    in the world – MO Johnson – recognized 
                    the need for a different kind of bank.
                </p>
                <p>
                    Our bank is founded 
                    on his vision of unmatched personal 
                    service and a commitment to our communities. 
                    In 2004, Michael passed away leaving a legacy that 
                    continues to inspire us all. His daughter 
                    Joersky was named Chairman, 
                    representing the fifth generation of engaged 
                    family leadership.
                </p>
            "
            imageUrl="../../assets/images/staff/old_man.jpg">
        </app-image-and-content-row>
    </div>
</div>


<div id="leaders" class="custom-container">
    <div class="header">
        <h2>Meet Our Leaders</h2>
        <p>
            Working with each other and alongside 
            our 1,200 associates, their knowledge 
            and experience come together to make 
            a difference.
        </p>
    </div>
</div>

<div class="custom-container">
    <div class="header">
        <h2>Our Leadership Team</h2>
        <p>
            Led by our president, our leadership team 
            is the driving force of the organization, 
            putting our clients at the center of all we do.
            Meet our forward-looking leaders, a 
            group of dedicated, focused and 
            experienced executives representing 
            various industries and backgrounds.
        </p>
    </div>

    <div class="row grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <app-team-member-card
            title="Helen Van Joersky"
            subtitle="Chairman"
            imageUrl="../../assets/images/staff/chairman.jpg">
        </app-team-member-card>
        <app-team-member-card
            title="Jimms Alex"
            subtitle="President & CEO"
            imageUrl="../../assets/images/staff/ceo.jpg">
        </app-team-member-card>
        <app-team-member-card
            title="Erica Szymaszek"
            subtitle="President Insurance"
            imageUrl="../../assets/images/staff/president_insurance.jpg">
        </app-team-member-card>
        <app-team-member-card
            title="Ann Lee"
            subtitle="Strategic Performance"
            imageUrl="../../assets/images/staff/strategic_performance.jpg">
        </app-team-member-card>
        <app-team-member-card
            title="Brian Andrew"
            subtitle="Chief Investment Officer"
            imageUrl="../../assets/images/staff/chief_investment_officer.jpg">
        </app-team-member-card>
        <app-team-member-card
            title="Dan Smith"
            subtitle="President"
            imageUrl="../../assets/images/staff/president.jpg">
        </app-team-member-card>
        <app-team-member-card
            title="Denise Domain"
            subtitle="Human Resources Officer"
            imageUrl="../../assets/images/staff/chief_human_resources_officer.jpg">
        </app-team-member-card>
        <app-team-member-card
            title="Robert Larsen"
            subtitle="Marketing Officer"
            imageUrl="../../assets/images/staff/chief_marketing_officer.jpg">
        </app-team-member-card>
        <app-team-member-card
            title="Mark Behrens"
            subtitle="President"
            imageUrl="../../assets/images/staff/chief_financial_officer.jpg">
        </app-team-member-card>
    </div>
</div>

<app-call-us-row></app-call-us-row>

<app-footer></app-footer>