
<app-header></app-header>
<app-above-fold-picture [imageSource]="'../../../assets/images/about/A-History-of-SERVING-Neighbors-1-1024x315.png'"></app-above-fold-picture>

<span class="service-detail">
    <div class="content space-x-12">
        <div class="main">
            <div class="service-title">
                <h2>ABOUT US</h2>
                <p>
                    Running a business is a big job whether you’re 
                    managing a family farm, running a retail store, 
                    or building an insurance business. BSV is here to 
                    help you make the most of your time and money. 
                    Every BSV business checking account offers:
                </p>
            </div>

            <ul class="about-us-info-list">
                <li>
                    <h3>A TRIO FORMS A NEW BANK</h3>
                    <p>
                        The Bank of Southside Virginia has origins that begin in 1905 when the Bank of Stony Creek was chartered. In 1911, the Bank of Carson opened for business and in 1919 the Prince George County Bank began operations.
                    </p>
                    <p>
                        These three local banks merged in 1933 to form The Bank of Southside Virginia. The Jarratt Bank opened in the late 1930’s and immediately merged with The Bank of Southside Virginia to expand the organization to four locations.
                    </p>
                </li>

                <li>
                    <h3>EXPANSION IN THE 1970s</h3>
                    <p>
                        BSV added two branches in the tri-cities area around Petersburg in 1972. The Rohoic/Edgehill office just west of town on Cox Road in Dinwiddie County opened in May, and the South Crater Road branch in the city of Petersburg opened for business in November of that year.
                    </p>
                    <p>
                        Greensville County was the site of the seventh BSV office in 1979. The bank is now located on West Atlantic Street in the city of Emporia following annexation of that part of the county into the city.
                    </p>
                </li>
                
                <li>
                    <h3>NEW OFFICES FOR THE '80s & '90s</h3>
                    <p>
                        A loan production office opened in the town of Wakefield 
                        in 1986 and became a full-service branch in April, 1990. 
                        The branch relocated to a new facility just across 
                        County Drive (Route 460) in July, 2005, and added 
                        drive-thru and ATM functions.
                    </p>
                    <p>
                        July 1989, marked the opening of the ninth BSV office. 
                        Located in the county seat of Dinwiddie, on U.S. 
                        Route 1, this branch is the third BSV office in 
                        Dinwiddie County.
                    </p>
                    <p>
                        A new building was constructed on Ellerslie Avenue 
                        in Colonial Heights in 1994. A full-service branch 
                        operates on the ground floor, while the bank’s 
                        Dealer Division is housed upstairs. This branch also 
                        houses the offices of BSV Financial Services.
                    </p>
                    <p>
                        Three Southampton County branches — Boykins, 
                        Capron and Franklin — were acquired in April, 1995, 
                        to bring the total number of BSV locations to thirteen.
                    </p>
                </li>
                
                <li>
                    <h3>WELCOME TO THE 2000s</h3>
                    <p>
                        In February of 2001, The Bank of Southside purchased a branch on Main Street in Smithfield, Virginia, bringing the branch total to 14.
                    </p>
                    <p>
                        Expanding northward, BSV opened its fifteenth branch in Chester on March 11, 2002. Located near the intersection of West Hundred Road (Route 10) and Harrowgate Road, the branch is in a bustling area of town.
                    </p>
                </li>
                
                <li>
                    <h3>THE AREA'S LARGEST COMMUNITY BANK</h3>
                    <p>
                        With an asset size of over $538 million and 15 full-service locations, The Bank of Southside Virginia is both the largest community bank and the largest branch network in the area. The bank serves all or parts of the counties of Dinwiddie, Sussex, Surry, Prince George, Greensville, Southampton, Isle of Wight, and Chesterfield; and all or parts of the cities of Petersburg, Emporia, Colonial Heights, Franklin, Smithfield, and Chester.
                    </p>
                </li>
                
                <li>
                    <h3>NAMED "BEST OF THE BEST"</h3>
                    <p>
                        More important than size is the national reputation The Bank of Southside Virginia has earned. One of the most widely recognized and respected independent rating services is Sheshunoff Information Services, Inc. Sheshunoff is well known as a leader in the field of financial industry data. The company began rating financial institutions in 1984 and The Bank of Southside Virginia has earned their best rating every year.
                    </p>
                    <p>
                        Bauer Financial Reports, Inc. awards The Bank of Southside Virginia five stars — their highest rating. Again, BSV has earned top honors every quarter since Bauer began their ratings. Veribanc, Inc., a well-known and highly respected Massachusetts rating service, gives BSV the green / three-star designation, their top honor.
                    </p>
                    <p>
                        IDC Financial Publishing, Inc. awarded its “Best of the Best” to The Bank of Southside Virginia. According to John E. Rickmeier, President of IDC, “This bank has achieved superior investment performance ranking in the top 25% of all banks over the past one, three, and five-year periods.
                    </p>
                    <p>
                        BSV is a locally owned, full-service commercial bank. The bank attributes its success to high quality customer service, a progressive atmosphere and a commitment to the communities and the people it serves. 
                    </p>
                </li>
                
                <li>
                    <h3>REAL RELATIONSHIP BANKING</h3>
                    <p>
                        While BSV is one of the technological leaders in the area, it maintains the personal touch with its customers. Automation made possible “relationship banking,” which BSV began using many years ago. Customer accounts are linked together. Balances in certificates of deposit, money market accounts, savings accounts or other checking accounts are used to offset service fees. In fact, over 70% of the personal checking accounts at BSV pay no service charge as a result of relationship banking.
                    </p>
                    <p>
                        For a more in-depth look at the origins and history of BSV, check out this book available at your local library:
                    </p>

                    <p>
                        <strong>The History of a Community Bank: The Bank of Southside Virginia, 1905–1991</strong>
                        <em>— Richard Jones, 1991</em>
                    </p>
                </li>
            </ul>
        </div>

        <div class="w-1/3 mt-16">
            <ul>
                <li>
                    <img src="../../assets/images/about/Carson_bldg_original.png" />
    
                    <div>
                        <h4>ORIGINAL BANK OF CARSON BUILDING:</h4>
                        <p>
                            BSV’s origins started when three banks—Bank of Stony Creek, Bank of Carson and Prince George County Bank—merged into The Bank of Southside Virginia 1933. This photo shows the Bank of Carson which opened in 1911 in this building
                        </p>
                    </div>
                </li>
                
                <li>
                    <img src="../../assets/images/about/PrinceGeorge_bldg.png" />
    
                    <div>
                        <h4>ORIGINAL PRINCE GEORGE COUNTY BANK:</h4>
                        <p>
                            Constructed in 1919, this was the site of 
                            Prince George County Bank, one of the three 
                            banks that would later form The Bank of 
                            Southside Virginia.
                        </p>
                    </div>
                </li>
                
                <li>
                    <img src="../../assets/images/about/Carson_bldg_1927.png" />
    
                    <div>
                        <h4>BANK OF CARSON, 1927:</h4>
                        <p>
                            This is the current headquarters of BSV as 
                            it would have looked in 1927 as the 
                            second site of the Bank of Carson. As time 
                            has changed, there have been many additions 
                            and upgrades to this building and it now holds 
                            the main offices of BSV as well as a full-service bank.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</span>
<app-footer></app-footer>