
.title-shadow-card {
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 3px 5px rgba(31, 31, 31, 0.432);
    text-align: center;
    transition: box-shadow 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    &:hover {
        transform: scale(1.1);
        box-shadow: 0 5px 8px rgba(31, 31, 31, 0.432);
    }
    h3 {
        font-size: 2.125rem;
        margin-bottom: 1rem;
    }
    p {
        font-size: 1.125rem;
    }
}
