
<app-header 
heroTitle="Retirement & Financial Planning"
heroDescription="
    Developing a sound financial 
    plan is essential to achieving 
    your long-term retirement goals."
heroImageUrl="../assets/images/personal/investing-retirement/couple-older-looking-at-paint-color-options-large.jpg">
</app-header>


<div class="container">
    <div class="row btf-title">
        <h2>The Financial Planning Process</h2>
        <p>
            We will begin by understanding you along with 
            your strengths and weaknesses surrounding money. 
        </p>
    </div>

    <div class="row icon-and-content-item-container grid-cols-2">
        <app-icon-and-content-item
            title="Understanding Your Habits"
            iconImageUrl="../../../assets/images/personal/investing-retirement/icon-report-50x50.png"
            description="
                We analyze your spending patterns 
                and savings habits, along with your income 
                and assets to determine whether your goals 
                are achievable.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Developing Your Financial Plan"
            iconImageUrl="../../../assets/images/personal/investing-retirement/icon-plan-50x50.png"
            description="
                We want to understand what you 
                want and what you have. This will 
                determine how you can use your assets 
                and income to pay for the things that 
                make you happy. ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Reviewing Your Financial Plan"
            iconImageUrl="../../../assets/images/personal/investing-retirement/icon-goal-50x50.png"
            description="
                Are the assumptions correct? 
                Are there any disappointments or 
                pleasant surprises? Do you want to 
                change anything?">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Checking In"
            iconImageUrl="../../../assets/images/personal/investing-retirement/icon-cash-grow-50x50.png"
            description="
                Are the assumptions still correct? 
                Has your definition of happiness changed? 
                If necessary, we will update the financial 
                plan.">
        </app-icon-and-content-item>
    </div>
</div>

<app-footer></app-footer>