
<div class="container">
    <div class="row btf-title">
        <h2>Information Management</h2>
        <p>
            Manage and monitor your accounts from your desktop using our online platform.
        </p>
    </div>

    <div class="row icon-and-content-item-container grid-cols-2">
        <app-icon-and-content-item
            title="Account Management"
            iconImageUrl="../../../assets/images/business/cash-management/icon-transfer-dollar-50x50.webp"
            description="
                Perform various money movement 
                activities, including transfers, 
                wires, ACH and Bill Pay.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Account Monitoring"
            iconImageUrl="../../../assets/images/business/cash-management/icon-extended-window-50x50.png"
            description="
                Track and monitor current 
                day balances and transaction 
                information. View transaction 
                history for the past 365 days.">
        </app-icon-and-content-item>
    </div>
</div>

<footer></footer>