
<div class="w-full bg-teal-700" style="height: 60px;"></div>
<div class="text-center flex flex-col mx-auto justify-center" 
    style="height: 80vh; width: 700px; max-width: 90%;">
    <img src="../../assets/images/g18-300x300.png" 
        style="width: 80px"
        class="mx-auto my-8 border-none" />

    <p class="text-3xl my-4">Welcome</p>
    <p class="mb-8">
        Hi <span class="font-medium">{{user?.firstName}} {{user?.lastName}}</span>, 
        you are welcome to BSV Online Banking. 
        Your account details is received and being processed. Kindly be patient as we work 
        on your account. You will be notified via SMS or Email as soon as we complete 
        setting up your account. Stay Safe.
    </p>
    <br />

    <a href="/" mat-raised-button class="yellow-button self-center inline-block mt-8">GO HOME</a>
</div>