
<div class="w-full find-advisor-container py-8">
    <div class="row flex justify-between">
        <figure class="advisor-figure">
            <a>
                <img [src]="advisorPhotoUrl" />
            </a>
            <figcaption>
                {{advisorName}}
            </figcaption>
        </figure>
    
        <div class="data">
            <h3>Your Trusted Partner for Life's Biggest Moments</h3>
            <p>
                No matter what financial needs you may have, 
                we're here for you. Our experienced advisors 
                work closely with you to build the right path 
                to help you achieve your goals.
            </p>
            <!-- <a class="btn btn-primary">Find an Advisor</a> -->
        </div>
    </div>
</div>