<div class="more-info-card">
    <div class="image-wrapper">
        <img [src]="imageUrl" />
    </div>
    <div class="data-wrapper">
        <h3>
            <a [href]="linkUrl">{{title}}</a>
        </h3>
        <p>{{description}}
            Whether you want to manage your account online or 
            earn interest on your checking account balances, 
            we have a checking account to fit your lifestyle.
        </p>

        <a [href]="linkUrl" class="btn btn-outlined">Learn More</a>

    </div>
</div>