
<app-header></app-header>
<app-above-fold-picture [imageSource]="'../../../assets/images/personal/anywherebanking_inside.png'"></app-above-fold-picture>

<span class="service-detail">
    <div class="content">
        <div class="main">
            <div class="service-title">
                <h2>ONLINE / MOBILE BANKING</h2>
                <p>
                    Accessing your BSV accounts is easy with Online 
                    and Mobile Banking. Whether you want to deposit 
                    a check, transfer money, or pay a bill, you can 
                    do it quickly on your cell phone, tablet, or laptop. 
                    If you’re not already an online or mobile banking 
                    customer, call BSV at 434.246.5211 and we’ll get 
                    you started.
                </p>
            </div>

            <ul class="detail-description-list">
                <li class="detail-description">
                    <span class="detail-heading">
                        <div>
                            <img src="../../../assets/svg/personal/supersaver_icon2_optimized.svg" />
                        </div>
                        <h2>Online Banking</h2>
                    </span>
    
                    <div class="features-and-conditions space-y-8">
                        <div>
                            <h3>KEY FEATURES</h3>
                            <ul class="green-bulleting shif-right">
                                <li>Free</li>
                                <li>All in one account organization</li>
                                <li>Transfer money between your BSV accounts</li>
                                <li>Access to eStatements</li>
                                <li>Make your BSV credit card payment with an existing BSV account</li>
                            </ul>
                        </div>
                    </div>
                </li>
                
                <li class="detail-description">
                    <span class="detail-heading">
                        <div>
                            <img src="../../../assets/svg/personal/mobilebanking_icon.svg" />
                        </div>
                        <h2>Mobile Banking</h2>
                    </span>
    
                    <div class="features-and-conditions space-y-8">
                        <div>
                            <h3>KEY FEATURES</h3>
                            <ul class="green-buletting shift-right">
                                <li>Free</li>
                                <li>Perfect for on-the-go transactions</li>
                                <li>Transfer money between your BSV accounts</li>
                                <li>Access to eStatements</li>
                                <li>Make your BSV credit card payment with an existing BSV account</li>
                            </ul>
                        </div>
                    </div>
                </li>
                
                <li class="detail-description">
                    <span class="detail-heading">
                        <div>
                            <img src="../../../assets/svg/personal/mobiledeposit_icon.svg" />
                        </div>
                        <h2>Mobile Deposit</h2>
                    </span>
                    
                    <div class="features-and-conditions space-y-8">
                        <div>
                            <h3>KEY FEATURES</h3>
                            <ul class="green-buletting shift-right">
                                <li>Free</li>
                                <li>Capture a picture of the front and back of your check to deposit into your desired BSV account</li>
                                <li>24-hour turnaround</li>
                            </ul>
                        </div>
                    </div>
                </li>
                
                <li class="detail-description">
                    <span class="detail-heading">
                        <div>
                            <img src="../../../assets/svg/personal/billpay_icon.svg" />
                        </div>
                        <h2>Bill Pay</h2>
                    </span>
    
                    <div class="features-and-conditions space-y-8">
                        <div>
                            <h3>KEY FEATURES</h3>
                            <ul class="green-bulleting shif-right">
                                <li>Free</li>
                                <li>Manage your monthly bills with a click of a button</li>
                                <li>
                                    Set up recurring payments, make one-time payments 
                                    and even verify payments made
                                </li>
                            </ul>
                        </div>                   
                    </div>
                </li>
                
                <li class="detail-description">
                    <span class="detail-heading">
                        <h2>Telebank-1.800.451.2212</h2>
                    </span>
    
                    <div class="features-and-conditions space-y-8">
                        <div>
                            <h3>KEY FEATURES</h3>
                            <ul class="green-bulleting shif-right">
                                <li>Free</li>
                                <li>Available 24/7</li>
                                <li>Check account balances</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <app-right-side-bar></app-right-side-bar>
        </div>
    </div>
</span>
<app-footer></app-footer>