
<app-header 
    heroTitle="Home Loans"
    heroDescription="
        Whether you are relocating 
        to a new community, refinancing, 
        building or buying a home, we’ll 
        guide you through the home financing process. 
        As your trusted advisor, our focus is on 
        finding the mortgage that fits your needs 
        so you can focus on finding your perfect home."
    heroImageUrl="../assets/images/personal/loans/kids-two-girls-having-fun-washing-dishes-large.webp">
</app-header>

<div class="container">
    <div class="row btf-title">
        <h2>Personalized Service</h2>
        <p>
            When you are ready to get started, 
            our mortgage loan officers will use 
            their knowledge and experience to partner 
            with you every step of the way. 
            You’ll receive tailored options for 
            flexible down payments, loan terms 
            and mortgage rates.  
        </p>
        <p>
            After your loan is complete, 
            you'll continue to work directly with 
            {{shortBankName}} and your 
            dedicated mortgage loan officer 
            who will be available to answer 
            any ongoing questions.
        </p>
    </div>
</div>

<app-footer></app-footer>