
<app-header 
heroTitle="Mergers & Acquisitions"
heroDescription="
    Manage hidden risks when engaging 
    in a sale or merger with another 
    organization. 
"
heroImageUrl="../assets/images/business/business-insurance/men-walking-and-having-discussion-large.jpg">
</app-header>

<div class="custom-container">
    <h2 class="header">How We Can Help</h2>

    <app-image-and-content-row 
        paragraphs="
            <p>
                Mergers and acquisitions often have more condensed 
                timelines than in the past, leaving less time to 
                perform due diligence reviews. A rushed due diligence 
                process increases the number of risks that a buyer 
                could face when reviewing a seller's past and 
                current liabilities.
            </p>
            <p>
                If these potential liabilities aren’t 
                considered when the purchase price is 
                decided and the contract drawn up, 
                the buyer could potentially question 
                the transaction down the road—when 
                it is too late to take any corrective 
                action. Our experienced advisors will:
            </p>
            "
        [items]="[
            'Understand your potential liabilities depending on the type of sale.',
            'Organize and update existing insurance policies.',
            'Identify any environmental risks or exposures.',
            '
                Understand any directors and officers (D&O) 
                risks and what it means for both the 
                buyer and seller.
            '
        ]"
        imageUrl="../../../../assets/images/business/business-insurance/two-puzzle-pieces-in-seperate-hands-coming-together.webp">
    </app-image-and-content-row>
</div>


<div class="custom-container">
    <div class=" header">
        <h2>Ask the right questions</h2>
        <p class="light">
            Asking questions as a buyer, even when 
            they are complicated or uncomfortable, 
            will reduce your risks and determine 
            an accurate purchase price. Here are 
            some questions you should consider as 
            you partner with one of our advisors 
            through the buying and/or 
            selling process.
        </p>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            iconImageUrl="../../../assets/images/business/business-insurance/icon-number1-50x50.png"
            description="
                Are there legal and financial risks 
                attached to this merger/acquisition, 
                and if so, what are they?
            ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            iconImageUrl="../../../assets/images/business/business-insurance/icon-number2-50x50.png"
            description="
                Do the acquired company’s insurance 
                policies have term limits that can 
                sustain future financial liabilities, 
                and any others that might pop up from 
                past activity before the transaction 
                occurs?
            ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            iconImageUrl="../../../assets/images/business/business-insurance/icon-number3-50x50.png"
            description="
                Does the acquired company face any 
                environmental liabilities at present 
                time, and if so, what are they?
            ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            iconImageUrl="../../../assets/images/business/business-insurance/icon-number4-50x50.png"
            description="
                Is the acquired company in need of 
                environmental cleanup in the 
                future? How often?
            ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            iconImageUrl="../../../assets/images/business/business-insurance/icon-number5-50x50.png"
            description="
                What are the specific terms and 
                conditions in the D&O policy of 
                the acquired company?
            ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            iconImageUrl="../../../assets/images/business/business-insurance/icon-number6-50x50.png"
            description="
                Does the D&O policy have 
                any statute-of-limitation clauses?
            ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            iconImageUrl="../../../assets/images/business/business-insurance/icon-number7-50x50.png"
            description="
                Does the company’s post-transaction risk 
                summary look different from how it 
                did prior to the purchase?
            ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            iconImageUrl="../../../assets/images/business/business-insurance/icon-number8-50x50.png"
            description="
                What is the financial impact of 
                adding the exposure (property, people, operations) 
                to the acquiring company's insurance?
            ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            iconImageUrl="../../../assets/images/business/business-insurance/icon-number9-50x50.png"
            description="
                What cultural hurdles, such as safety, 
                training and more, need to be addressed?
            ">
        </app-icon-and-content-item>
    </div>
</div>


<app-call-us-row></app-call-us-row>

<app-find-advisor-row
    advisorName="Deb Verstegen, AVP Commercial Insurance Consultant"
    advisorPhotoUrl="../../../assets/images/business/business-insurance/deb-verstegen.jpg">
</app-find-advisor-row>


<app-footer></app-footer>