

<app-header 
heroTitle="Investment Management"
heroDescription="
    Managing portfolios guided 
    by your goals, sound research 
    and a prudent investment 
    decision-making process."
heroImageUrl="../assets/images/personal/investing-retirement/professionals-man-and-woman-planning-large.jpg">
</app-header>

<div class="container">
    <div class="flex items-start justify-between overflow-x-auto">
        <div class="gray-header-item">
            <div class="header">
                <h3>Defined Contribution Plans</h3>
            </div>
            <div class="body">
                <div class="section">
                    <p>
                        Your employees may set aside 
                        pre‐tax or Roth dollars in their 
                        retirement account to be invested 
                        in funds chosen by you with our 
                        professional guidance. 
                        Contributions and earnings 
                        grow tax‐deferred.  
                    </p>
                    <ul class="checkmark-bullets">
                        <li>401(k) retirement plans for employees</li>
                        <li>403(b) retirement plans for employees of public 
                            entities and nonprofit organizations</li>
                        <li>Profit-sharing plans</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="gray-header-item">
            <div class="header">
                <h3>Administrative Services & Recordkeeping</h3>
            </div>
            <div class="body">
                <div class="section">
                    <p>
                        Our integrated professional administrative team streamlines the day-to-day operations of the plan, saving you significant time and energy while providing you with the personal attention you deserve.
                    </p>
                    <ul class="checkmark-bullets">
                        <li>Plan design consulting</li>
                        <li>Plan sponsor service, investment and fiduciary reviews</li>
                        <li>Online plan participant and sponsor solutions</li>
                        <li>Participant education promoting retirement readiness</li>
                        <li>Enhanced reporting and communication</li>
                        <li>Participant accounting flexibility</li>
                        <li>Comprehensive compliance testing</li>
                        <li>Government reporting</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="gray-header-item">
            <div class="header">
                <h3>Employee Communications</h3>
            </div>
            <div class="body">
                <div class="section">
                    <p>
                        Communicating with your employees 
                        about retirement planning can increase 
                        participation, deferral rates and 
                        appreciation for the benefit you're 
                        providing. Educated employees make 
                        better saving and investing decisions, 
                        increasing their retirement readiness 
                        and long-term happiness.
                    </p>
                    <ul class="list-checkmarks">
                        <li>In-person group meetings and one-on-one discussions</li>
                        <li>Electronic communications and behavioral outreach campaigns</li>
                        <li>Robust online planning and projection tools</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row text-center">
        <h2>Our Communication Approach</h2>
        <p class="light font-light">
            We take a holistic approach to 
            delivering communications and 
            education through customized group 
            and one-to-one meetings while 
            employing campaigns to target 
            participant behaviors. Our advisors 
            work closely with you to ensure your 
            organization's needs are met in the 
            following four areas.
        </p>
    </div>
    <div>
        <app-image-and-content-row 
            title="At Plan Eligibility"
            paragraphs="
                <p>Our advisors will create a 
                    smooth enrollment process 
                    for your employees by providing:
                </p>"
            imageUrl="../../../../assets/images/business/employee-benefits/woman-talking-to-coworkers-making-a-decision-small.jpg"
            [items]="[
                'Tailored orientation packets and online, interactive enrollment solutions',
                'A retirement needs assessment',
                'Savings and investment guidance'
            ]">
        </app-image-and-content-row>
        <app-image-and-content-row 
            title="Ongoing Education & Communication"
            [isFlipped]="true"
            paragraphs="
                <p>
                    We'll design an approach based on your ongoing education and communication needs, considering demographics utilizing the following services:
                </p>"            
            imageUrl="../../../../assets/images/business/employee-benefits/close-up-of-presenters-arm-whith-listeners-in-background.jpg"
            [items]="[
                'SmartPlan video based interactive education and targeted outreach campaigns',
                'Quarterly participant newsletter',
                'Periodic education meetings (group and/or one-on-one)',
                'Participant call center',
                'Participant web-based tools'
            ]">
        </app-image-and-content-row>
        <app-image-and-content-row 
            title="Plan Sponsor Education"
            paragraphs="
                <p>
                    Our team will align your organization's retirement plan with your strategic priorities through:
                </p>"
            imageUrl="../../../../assets/images/business/employee-benefits/coworkers-drawing-strategy-on-whiteboard.jpg"
            [items]="[
                'Fiduciary education',
                'Regulatory updates',
                'Plan design consulting'
            ]">
        </app-image-and-content-row>
    </div>
</div>

<div class="row">
    <app-call-us-row></app-call-us-row>
</div>

<app-footer></app-footer>