
<div class="container">
    <h2 class="my-4 text-center">Benefits</h2>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title="Strong emotional appeal"
            iconImageUrl="../../../assets/images/business/employee-benefits/icon-happy-face-50x50.png"
            description="
                Trends show that employees have 
                a strong emotional appeal towards 
                these benefits and often expect 
                employers to offer them.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Complement goals"
            iconImageUrl="../../../assets/images/business/employee-benefits/icon-goal-50x50.png"
            description="
                Complement the goals of more 
                corporate work/life balance programs 
                and increase participation in 
                consumer-driven health plans (CDHPs).">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Control costs"
            iconImageUrl="../../../assets/images/business/employee-benefits/icon-scale-50x50.png"
            description="
                Control your benefits and workers’ 
                compensation costs, fill gaps in 
                coverage and improve compliance.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Easier to implement"
            iconImageUrl="../../../assets/images/business/employee-benefits/icon-teamwork-50x50.png"
            description="
                These benefits are easier to 
                implement because most do not have 
                legal and regulatory issues 
                associated with insurance benefits, 
                requiring little support.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="No fees or costs"
            iconImageUrl="../../../assets/images/business/employee-benefits/icon-cost-reduce-50x50.png"
            description="
                Usually, there are no fees 
                or costs for employers to 
                offer these benefits.">
        </app-icon-and-content-item>
    </div>
</div>

<app-footer></app-footer>