
<footer>
    <div class="top-section grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 space-y-4 lg:space-y-0">
        <div class="space-y-4">
            <h5>Personal Banking</h5>
            <nav>
                <ul class="space-y-2">
                    <li><a href="/personal/banking">Banking</a></li>
                    <li><a href="/personal/home-personal-loans">Home & Personal Loans</a></li>
                    <li><a href="/personal/investment-retirement">Investing Retirement</a></li>
                    <li><a href="/personal/personal-insurance">Insurance</a></li>
                </ul>
            </nav>
        </div>
        <div class="space-y-4">
            <h5>Business Banking</h5>
            <nav>
                <ul class="space-y-2">
                    <li><a href="/business/cash-management">Cash Management</a></li>
                    <li><a href="/business/business-financing">Financing</a></li>
                    <li><a href="/business/employee-benefits">Employee Benefits</a></li>
                    <li><a href="/business/business-insurance">Insurance</a></li>
                </ul>
            </nav>
        </div>
        <div class="space-y-4">
            <h5>Get In Touch</h5>
            <nav>
                <ul class="space-y-2">
                    <li><a href="/contact-us">Contact Us</a></li>
                    <li><a href="/contact-us#email">Email Us</a></li>
                    <li><a href="/contact-us#call">Call Us</a></li>
                </ul>
            </nav>
            <div class="icons flex space-x-2">
                <!-- <ion-icon name="logo-linkedin"></ion-icon>
                <ion-icon name="logo-twitter"></ion-icon>
                <ion-icon name="logo-facebook"></ion-icon> -->
                <img src="../../../assets/images/svg/logo-linkedin.svg" />
                <img src="../../../assets/images/svg/logo-twitter.svg" />
                <img src="../../../assets/images/svg/logo-facebook.svg" />
                <img src="../../../assets/images/svg/logo-instagram.svg" />
            </div>
        </div>
        <div class="space-y-4">
            <h5>About Us</h5>
            <nav>
                <ul class="space-y-2">
                    <li><a href="/about-us#history">Our History</a></li>
                    <li><a href="/about-us#story">Our Story</a></li>
                    <li><a href="/about-us#leaders">Meet Our Leaders</a></li>
                </ul>
            </nav>
        </div>
        
        <!-- <div>
            <h5>Resources</h5>
            <nav>
                <ul>
                    <li><a href="#">Our History</a></li>
                    <li><a href="#">Our Leadership</a></li>
                    <li><a href="#">Community Involvement</a></li>
                    <li><a href="#">News & Events</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </nav>
        </div> -->
    </div>

    <div class="legal-section grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="space-y-8" style="width: 700px; max-width: 100%;">
            <div class="space-y-4">
                <img src="../../../assets/images/logo-rectangle.png" />
                <p>
                    Products and services offered by these 
                    {{bankName}} Financial Group companies: {{bankName}} Bank, 
                    {{bankName}} Wealth Inc. and {{bankName}} Insurance Services, LLC.
                </p>
            </div>
            
            <div class="space-y-4">                
                <h5>{{bankName}} Wealth</h5>
                <p>
                    Wealth management services are provided 
                    through {{bankName}} Bank and {{bankName}} Wealth Inc., 
                    {{mainBankName}} companies. 
                    Additional information about {{bankName}} Wealth Inc., 
                    a registered investment adviser, and its 
                    investment adviser representatives is 
                    available at 
                    <a href="http://www.adviserinfo.sec.gov">adviserinfo.sec.gov.</a>
                    <br />
                </p>
                <p>
                    NOT FDIC INSURED | NO BANK GUARANTEE | MAY LOSE VALUE
                </p>
            </div>
        </div>

        <div class="space-y-8" style="width: 700px; max-width: 100%;">
            <div class="flex items-center justify-between">
                <div>
                    <span>
                        <p>&copy; Copyright 2019 {{mainBankName}}. All rights reserved.</p>
                    </span>
                    <span class="text-lg">
                        Amsterdam, <span class="font-medium">Netherlands</span>. 
                        <span class="font-medium">South Side,</span> Virginia.
                    </span>
                </div>
                <img src="../../../assets/images/equal-housing-lender.webp" />
            </div>
            <div>
                <h5>{{mainBankName}}</h5>
                <p>
                    Bank services are provided by {{mainBankName}}, 
                    Member FDIC, Equal Housing Lender. 
                    Bank services are provided without regard 
                    to race, color, national origin, sex, handicap, 
                    or familial status.
                </p>
            </div>
            <div>
                <h5>{{bankName}} Insurance</h5>
                <p>
                    Insurance products are provided by 
                    {{bankName}} Insurance Services, LLC. 
                    Not FDIC insured, not a deposit, not insured 
                    by any federal government agency, not bank 
                    guaranteed, may lose value.
                </p>
            </div>
        </div>
    </div>
</footer>