
<footer>
    <div class="top-section">
        <div>
            <h5>About Us</h5>
            <nav>
                <ul>
                    <li><a href="#">Our History</a></li>
                    <li><a href="#">Our Leadership</a></li>
                    <li><a href="#">Community Involvement</a></li>
                    <li><a href="#">News & Events</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </nav>
        </div>
        
        <div>
            <h5>Resources</h5>
            <nav>
                <ul>
                    <li><a href="#">Our History</a></li>
                    <li><a href="#">Our Leadership</a></li>
                    <li><a href="#">Community Involvement</a></li>
                    <li><a href="#">News & Events</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="legal-section">
        <div>
            <span>
                <p>
                    Products and services offered by these 
                    {{bankName}} Financial Group companies: {{bankName}} Bank, 
                    {{bankName}} Wealth Inc. and {{bankName}} Insurance Services, LLC.
                </p>
            </span>
            
            <span>                
                <h5>{{bankName}} Wealth</h5>
                <p>
                    Wealth management services are provided 
                    through {{bankName}} Bank and {{bankName}} Wealth Inc., 
                    {{bankName}} Financial Group companies. 
                    Additional information about {{bankName}} Wealth Inc., 
                    a registered investment adviser, and its 
                    investment adviser representatives is 
                    available at 
                    <a href="http://www.adviserinfo.sec.gov">adviserinfo.sec.gov.</a>
                    <br />
                    NOT FDIC INSURED | NO BANK GUARANTEE | MAY LOSE VALUE
                </p>
            </span>
        </div>

        <div>
            <span>
                <ul class="inline-list">
                    <li>
                        <a>Privacy Policy</a>
                    </li>
                    <li>
                        <a>Terms of Use</a>
                    </li>
                </ul>
                <p>&copy; Copyright 2019 Johnson Financial Group. All rights reserved.</p>
            </span>
            <span>
                <h5>{{bankName}} Bank</h5>
                <p>
                    Bank services are provided by {{bankName}} Bank, 
                    Member FDIC, Equal Housing Lender. 
                    Bank services are provided without regard 
                    to race, color, national origin, sex, handicap, 
                    or familial status.
                </p>
            </span>

            <span>
                <h5>{{bankName}} Insurance</h5>
                <p>
                    Insurance products are provided by 
                    {{bankName}} Insurance Services, LLC. 
                    Not FDIC insured, not a deposit, not insured 
                    by any federal government agency, not bank 
                    guaranteed, may lose value.
                </p>
            </span>
        </div>
    </div>
</footer>