

<app-header></app-header>
<app-above-fold-picture [imageSource]="'../../../assets/images/business/businessbanking.png'"></app-above-fold-picture>

<span class="service-list">
    <div class="content">
        <div class="main">
            <div class="service-title">
                <h2>BUSINESS BANKING</h2>
                <p>
                    Businesses large and small depend on BSV for competitive 
                    rates, a wide range of product options and the best in 
                    customer service. We offer checking and savings that can 
                    help you start, grow, and maintain your business whether 
                    it’s a big company, family farm, non-profit organization 
                    or retail store.
                </p>
            </div>
    
            <ul class="service-overview space-y-12">
                <li class="service-overview-item">
                    <h3><a href="/business/checking">Checking</a></h3>
                    <ul class="space-y-3">
                        <li>
                            <div>
                                <img src="../../assets/svg/business/reg_bus_checking_icon.svg" />
                            </div>
                            <a href="/business/checking#regular-checking">REGULAR CHECKING</a>
                        </li>
                        <li>
                            <div>
                                <img src="../../assets/svg/business/small_bus_checking_icon.svg" />
                            </div>
                            <a href="/business/checking#small-business-checking">SMALL BUSINESS CHECKING</a>
                        </li>
                        <li>
                            <div>
                                <img src="../../assets/svg/business/advantage_checking_icon.svg" />
                            </div>
                            <a href="/business/checking#advantage-checking">ADVANTAGE CHECKING</a>
                        </li>
                        <li>
                            <div>
                                <img style="max-width: 85%;" src="../../assets/svg/business/nonprofit_checking_icon.svg" />
                            </div>
                            <a href="/business/checking#nonprofit-checking">NON-PROFIT CHECKING</a>
                        </li>
                    </ul>
                </li>
                
                <li class="service-overview-item">
                    <h3><a href="/business/savings">MONEY MARKETS / CERTIFICATES OF DEPOSIT</a></h3>
                    <ul class="space-y-3">
                        <li>
                            <div>
                                <img src="../../assets/svg/business/bus_moneymarket_icon.svg" />
                            </div>
                            <a href="/business/online-mobile-banking#online-banking">MONEY MARKET ACCOUNTS</a>
                        </li>
                        
                        <li>
                            <div>
                                <img src="../../assets/svg/business/bus_CD_icon.svg" />
                            </div>
                            <a href="/business/online-mobile-banking#mobile-banking">CERTIFICATES OF DEPOSIT</a>
                        </li>
                    </ul>
                </li>

                <li class="service-overview-item">
                    <h3><a href="/business/savings">CREDIT CARDS</a></h3>
                    <ul class="space-y-3">
                        <li>
                            <div>
                                <img src="../../assets/svg/business/bus_creditcard_icon.svg" />
                            </div>
                            <a href="/business/savings#savings-accounts">CREDIT CARDS</a>
                        </li>
                        
                        <li>
                            <div>
                                <img src="../../assets/svg/business/bus_purchcard_icon.svg" />
                            </div>
                            <a href="/business/savings#money-market-accounts">MONEY MARKET ACCOUNTS</a>
                        </li>
                    </ul>
                </li>
                
                <li class="service-overview-item">
                    <h3><a href="/business/credit-card-processing">CREDIT CARD PROCESSING</a></h3>
                </li>
                
                <li class="service-overview-item">
                    <h3><a href="/business/loans">LOANS</a></h3>
                    <ul class="space-y-3">
                        <li>
                            <div>
                                <img src="../../assets/svg/business/loan_types_icon.svg" />
                            </div>
                            <a href="/business/loans#loan-types">LOAN TYPES</a>
                        </li>
                        
                        <li>
                            <div>
                                <img src="../../assets/svg/business/get_started_icon.svg" />
                            </div>
                            <a href="/business/savings#money-market-accounts">GET STARTED</a>
                        </li>
                        
                        <li>
                            <div>
                                <img src="../../assets/svg/business/lenders_icon.svg" />
                            </div>
                            <a href="/business/savings#money-market-accounts">LOAN OFFICERS</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="right-side-bar">
            <app-right-side-bar></app-right-side-bar>
        </div>
    </div>
</span>
<app-footer></app-footer>