
<app-header 
heroTitle="As your needs evolve, we do too."
heroDescription="
    Life moves quickly, and so do we. 
    Whether face-to-face or digitally, 
    we keep pace with the rapidly 
    evolving financial services 
    landscape while providing the 
    highest level of personal 
    service."
heroImageUrl="../assets/images/business/business-owner-at-desk-with-laptop-on-phone.jpg">
</app-header>

<div class="custom-container">
<div class="row btf-title">
    <h2>Your Financial Needs Are Provided</h2>
    <p class="light">
        Your financial needs are about more than a 
        transaction. We take the time to understand 
        every need so you can plan for life’s ups 
        and downs while finding the best ways to 
        save and spend your money. How can we 
        help you live the life you've always imagined?
    </p>
</div>
</div>

<div class="custom-container">
<div class="row">
    <ul class="service-overview-list">
        <li>
            <app-service-overview-list-item
                title="Risk Management"
                [targetUrl]="baseUrl + '/risk-management'"
                featuredPhotoUrl="../assets/images/business/business-insurance/man-working-in-a-manufacturing-facility-small.jpg"
                description="
                    Proactively control financial 
                    loss to your organization by 
                    identifying, analyzing and 
                    controlling your risks and exposures 
                    to prevent claims before they happen.">
            </app-service-overview-list-item>
        </li>
        <li>
            <app-service-overview-list-item
                title="Strategic Employee Benefits Consulting"
                [isFlipped]="true"
                [targetUrl]="baseUrl + '/strategic-employee-benefits'"
                featuredPhotoUrl="../assets/images/business/employee-benefits/business-owners-reviewing-project-small.jpg"
                description="
                    You have a long-term business 
                    strategy to grow your organization; 
                    you should have one to manage 
                    your employee benefits costs too.">
            </app-service-overview-list-item>
        </li>
        <li>
            <app-service-overview-list-item
                title="Professional Liability Insurance"
                [targetUrl]="baseUrl + '/professional-liability-insurance'"
                featuredPhotoUrl="../assets/images/business/business-insurance/doctor-and-nurse-evaluating-medical-tests-small.jpg"
                description="
                    Do you or your firm provide a 
                    professional service or offer advice? 
                    We can protect you and your 
                    organization from costly claims.
                ">
            </app-service-overview-list-item>
        </li>
        <li>
            <!-- <app-service-overview-list-item
                title="Business Insurance"
                [isFlipped]="true"
                [targetUrl]="baseUrl + '/personal-insurance'"
                featuredPhotoUrl="../assets/images/personal/personal-insurance/family-father-and-daughter-looking-at-tablet-on-couch-large.jpg"
                description="
                    As a business owner, you’ve worked hard to 
                    get your company where it is today. 
                    That’s why you need to protect you and 
                    your business from the unexpected.">
            </app-service-overview-list-item> -->
        </li>
    </ul>
</div>
</div>

<app-call-us-row></app-call-us-row>

<app-footer></app-footer>
