
<app-header 
    heroTitle="Personal Loans & Lines of Credit"
    heroDescription="
        Purchase a new vehicle, 
        consolidate debt or prepare 
        for the unexpected with a 
        flexible personal loan."
    heroImageUrl="../assets/images/personal/loans/couple-looking-at-options-on-laptop-large.jpg">
</app-header>



<div class="container">
    <div class="row btf-title">
        <h2>Control and Simplify</h2>
        <p>
            With a personal loan or line of credit, 
            access cash to simplify your life and 
            take control of your finances.
        </p>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title="Loans or Lines of Credit"
            iconImageUrl="../../../assets/images/personal/home-personal-loans/icon-receive-money-50x50.png"
            description="
                If you have short‐term financing 
                needs, a secured or unsecured loan 
                provides options for your borrowing 
                needs, including debt consolidation, 
                short-term purchases and overdraft 
                services.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Vehicle Loans"
            iconImageUrl="../../../assets/images/personal/home-personal-loans/icon-car-50x50.png"
            [description]="
                'We\'ll find a loan option for your 
                vehicle with the added convenience of 
                automatic payments from your ' + shortBankName + '
                checking or savings account. 
                Vehicle options include cars, 
                trucks, boats, motorcycles and 
                recreational vehicles.'">
        </app-icon-and-content-item>
    </div>
</div>

<app-footer></app-footer>