
<app-header 
heroTitle="Credit, Debit & Gift Cards"
heroDescription="
    Find a card for every need. 
    The debit, credit and gift 
    cards you choose can help 
    you through all of life’s 
    moments."
heroImageUrl="../assets/images/personal/banking/friends-two-women-shopping-large.jpg">
</app-header>

<div class="container">
<div class="row btf-title">
    <h2>Pay your way</h2>
    <p class="light">
        Whether you prefer to pay with your 
        debit card or earn rewards with your 
        credit card, we offer a variety of 
        solutions for both your day-to-day 
        and larger purchases.
    </p>
</div>
</div>

<app-footer></app-footer>