
<app-header></app-header>
<app-above-fold-picture [imageSource]="'../../../assets/images/personal/creditcard.png'"></app-above-fold-picture>
<span class="service-detail">
    <div class="content">
        <div class="main">
            <div class="service-title">
                <h2>CREDIT CARDS</h2>
                <p>
                    With a BSV Visa or MasterCard, you can 
                    enjoy the convenience of paying for 
                    everyday purchases. Plus, BSV credit cards 
                    have low annual fees and competitive rates. 
                    Also, having one is a great way to build credit 
                    and learn money management skills. Apply today.
                </p>
            </div>
        </div>
        <div>
            <app-right-side-bar></app-right-side-bar>
        </div>
    </div>
</span>
<app-footer></app-footer>