
<app-header 
    [heroTitle]="'Home & Personal Loans'"
    [heroDescription]="
        'Finance your next move, big purchase or 
        dream vacation with a loan personalized 
        just for you. Tell us what your plans are, 
        and we’ll help you select the best 
        loan to make your goals come to life.'"
    heroImageUrl="../assets/images/personal/family-dad-waiting-for-son-with-open-arms-large.jpg">
</app-header>

<div class="container">
    <div class="row btf-title">
        <h2>Our Approach</h2>
        <p class="light">
            Financing your goals requires an 
            advisor on your side who is focused 
            on you and your success. We take the 
            time to understand your needs to 
            create a plan that aligns with 
            what is most important to you.
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <ul class="service-overview-list">
            <li class="card-and-image-container">
                <div class="data-wrapper">
                    <div class="data">
                        <h3><a href="/personal/home-personal-loans/home-loans">Home Loans</a></h3>
                        <p>
                            Whether you are relocating to 
                            a new community, refinancing, 
                            building or buying a home, we’ll 
                            guide you through the home 
                            financing process. As your trusted 
                            advisor, our focus is on finding 
                            the mortgage that fits your needs 
                            so you can focus on finding your 
                            perfect home.
                        </p>
    
                        <a class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/personal/kids-two-girls-having-fun-washing-dishes-small.jpg" />
                    <span class="image-overlay"></span>
                </div>
            </li>
            <li class="card-and-image-container flipped">
                <div class="data-wrapper">
                    <div class="data flip-right">
                        <h3><a>Home Equity Loans & Lines of Credit</a></h3>
                        <p>
                            As life changes and your needs 
                            shift, use the equity in your home 
                            to finance your next goal. Maybe 
                            you’re considering a home improvement, 
                            a new vehicle or want to consolidate debt. 
                            Whatever your project or plans, a home 
                            equity loan or line of credit can help 
                            you achieve them.
                        </p>
    
                        <a class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/personal/couple-choosing-paint-colors-in-new-room-small.jpg" />
                    <div class="image-overlay"></div>
                </div>
            </li>
            <li class="card-and-image-container">
                <div class="data-wrapper">
                    <div class="data">
                        <h3><a>Personal Loans & Lines of Credit</a></h3>
                        <p>
                            Get more control over your finances 
                            with a flexible personal loan so you 
                            can prepare for the unexpected, 
                            purchase a new vehicle or consolidate debt. 
                            With or without collateral, we can help 
                            you get access to cash to take control 
                            and simplify your life.
                        </p>
    
                        <a class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/personal/couple-looking-at-options-on-laptop-small.jpg" />
                    <span class="image-overlay"></span>
                </div>
            </li>
        </ul>
    </div>
</div>

<app-footer></app-footer>