<app-header></app-header>
<app-above-fold-picture [imageSource]="'../../../assets/images/auto/autodealerdivision.png'"></app-above-fold-picture>

<span class="service-detail">
    <div class="content">
        <div class="main">
            <div class="service-title">
                <h2>AUTO DEALER DIVISION</h2>
                <p>
                    Find the car loan and payment that’s right for you. 
                    Our Auto Dealer Division staff is ready to assist 
                    customers with any account questions including car 
                    loans and payoffs. The team is located on the second 
                    floor of the BSV Colonial Heights branch.
                </p>
            </div>

            <ul>
                <li>
                    <h3>MAKE A ONE-TIME PAYMENT</h3>
                    <p>
                        You can pay online using a Debit Card, savings, or checking account by clicking the button below.
                    </p>
                    <a href="">MAKE A ONE-TIME PAYMENT</a>
                </li>
                
                <li>
                    <h3>HOW TO MANAGE YOUR LOAN</h3>
                    <p>
                        You can manage your loan from the BSV Online Loan 
                        Payment Portal. This portal can be accessed 
                        by clicking the button below. If you have not 
                        accessed this portal before, you will need to 
                        create an account. If you are just making a 
                        One Time Payment, you do not need to create 
                        an account.
                    </p>
                    <a href="">PAYMENT PORTAL</a>
                </li>
                
                <li>
                    <h3>OTHER PAYMENT OPTIONS</h3>
                    <p>
                        Automatic Payment Withdrawals – click the button below 
                        to enroll and have your monthly car payment drafted 
                        from your checking or savings account each month. 
                        These payments CANNOT be managed from the 
                        BSV Online Loan Payment Portal.
                    </p>
                    <p>
                        Pay online using a one-time payment transfer or set 
                        up a recurring payment from your BSV account 
                        with Online Banking. If you do not have an 
                        Online Banking account, click here.
                    </p>
                </li>
            </ul>
        </div>
        <div>
            <app-right-side-bar></app-right-side-bar>
        </div>
    </div>
</span>
<app-footer></app-footer>