<!-- <app-header></app-header> -->
<div>
    <!-- <h2>Hi This is the first heading</h2>
    <p>
        Lorem ipsum dolor sit, amet consectetur 
        adipisicing elit. Aliquam suscipit itaque 
        reprehenderit? Enim obcaecati repellendus 
        laboriosam similique nostrum error possimus? 
        Magnam est officia obcaecati saepe eum labore, 
        rem fugiat quibusdam?
    </p>

    <p class="light">
        Lorem ipsum dolor sit, amet consectetur 
        adipisicing elit. Aliquam suscipit itaque 
        reprehenderit? Enim obcaecati repellendus 
        laboriosam similique nostrum error possimus? 
        Magnam est officia obcaecati saepe eum labore, 
        rem fugiat quibusdam?
    </p> -->
    <router-outlet></router-outlet>
</div>
<!-- <app-footer></app-footer> -->