
<app-header 
heroTitle="Invest Your Way"
[heroDescription]="shortBankName + ' Financial 
    Advisors can help you make the 
    most of your money and your life 
    with a variety of investment 
    solutions.'"
heroImageUrl="../assets/images/personal/investing-retirement/couple-getting-ready-for-wedding-large.jpg">
</app-header>


<div class="custom-container">
    <div class="row btf-title">
        <p>
            With guidance from our team of advisors, 
            we will help you build the portfolio 
            you want and ensure it aligns with your 
            financial goals. We will monitor your 
            investments and provide advice based on 
            market performance and trends so you can 
            work towards achieving your financial goals.
        </p>
    </div>
</div>


<div class="custom-container">
    <app-image-and-content-row
        title="Retirement and Financial Planning"
        imageUrl="../../../../assets/images/personal/investing-retirement/couple-older-looking-at-paint-color-options-small.webp"
        paragraphsText="
        <p>
            A financial plan can help define 
            how your income and assets can 
            provide for a lifetime of happiness 
            and your retirement. Healthy savings 
            habits, spending discipline and 
            appropriate investments are necessary 
            to meet your goals. But, you need more 
            than just a plan. Our advisors can keep 
            you centered on your plan when faced 
            with market downturns or enticing 
            spending opportunities. 
        </p>
        <p>
            We will begin by understanding you along 
            with your strengths and weaknesses 
            surrounding money in order to develop a 
            financial plan with the appropriate investment 
            solutions to meet your unique goals. 
        </p>
        <p>
            Our advisors are invested in you and your 
            family and are committed to help you get 
            where you want to go.
        </p>
        ">
    </app-image-and-content-row>
    
</div>

<div class="custom-container">
    <div class="row btf-title">
        <h2>Annuities</h2>
        <p>
            An annuity is an investment tool 
            that can provide you with a regular 
            paycheck after you retire.
        </p>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title=""
            iconImageUrl="../../../assets/images/personal/investing-retirement/icon-scale-50x50.png"
            description="
            Make a single contribution or several payments over time.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title=""
            iconImageUrl="../../../assets/images/personal/investing-retirement/icon-receive-money-50x50.png"
            description="
            Contribute any amount, regardless of your income level or age.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title=""
            iconImageUrl="../../../assets/images/personal/investing-retirement/icon-cash-value-2-50x50.png"
            description="
            Your funds grow tax-deferred.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title=""
            iconImageUrl="../../../assets/images/personal/investing-retirement/icon-extended-window-50x50.png"
            description="
                Once you begin taking withdrawals, 
                you can choose from different options, 
                including a fixed amount for life or 
                payments to your beneficiaries.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title=""
            iconImageUrl="../../../assets/images/personal/investing-retirement/icon-percent-50x50.webp"
            description="
            Choose between a fixed annuity or a variable annuity.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title=""
            iconImageUrl="../../../assets/images/personal/investing-retirement/icon-graph-increase-50x50.png"
            description="
            Choose if you want immediate income or deferred income in retirement.">
        </app-icon-and-content-item>
    </div>
</div>

<div class="custom-containe hidden">
    <h2 class="text-center my-4">
        Learn more about investment solutions 
        with Johnson Financial Group Financial Advisors
    </h2>
    <div class="row more-info-card-container">
        <app-more-info-card 
            title="IRAs"
            description="
                Whether your retirement is soon 
                approaching or several years down the 
                road, the advantages of an IRA can 
                give you confidence as your prepare.
            "
            linkUrl="/personal/investing-retirement/invest-your-way/iras"
            imageUrl="../../../assets/images/personal/investing-retirement/family-mom-helping-son-tie-his-tie-small.jpg">
        </app-more-info-card>
        <app-more-info-card 
            title="Stocks, Bonds and Funds"
            description="
                Partner with one of our advisors to 
                select the investment solutions to 
                best fit your financial planning goals. 
                We will work with you to develop a 
                strategy based on your goals, risk 
                tolerance and timeline.
            "
            linkUrl="/personal/investing-retirement/invest-your-way/stocks-bonds-funds"
            imageUrl="../../../assets/images/personal/investing-retirement/family-dad-and-daughter-watching-an-ipad-small.jpg">
        </app-more-info-card>
        <app-more-info-card 
            title="Annuities"
            description="
                Looking to add more certainty 
                to your financial planning? Whether 
                you’re saving for retirement or already 
                retired, annuities may be the solution for you.
            "
            linkUrl="/personal/investing-retirement/invest-your-way/annuities"
            imageUrl="../../../assets/images/personal/investing-retirement/couple-dancing-in-their-living-room-small.jpg">
        </app-more-info-card>
    </div>
</div>

<app-call-us-row></app-call-us-row>

<app-find-advisor-row></app-find-advisor-row>

<app-footer></app-footer>