
<app-header 
heroTitle="Invest Your Way"
[heroDescription]="shortBankName + ' Financial 
    Advisors can help you make the 
    most of your money and your life 
    with a variety of investment 
    solutions.'"
heroImageUrl="../assets/images/personal/investing-retirement/couple-getting-ready-for-wedding-large.jpg">
</app-header>


<div class="container">
    <div class="row btf-title">
        <h2>Annuities</h2>
        <p>
            An annuity is an investment tool 
            that can provide you with a regular 
            paycheck after you retire.
        </p>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title=""
            iconImageUrl="../../../assets/images/personal/investing-retirement/icon-scale-50x50.png"
            description="
            Make a single contribution or several payments over time.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title=""
            iconImageUrl="../../../assets/images/personal/investing-retirement/icon-receive-money-50x50.png"
            description="
            Contribute any amount, regardless of your income level or age.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title=""
            iconImageUrl="../../../assets/images/personal/investing-retirement/icon-cash-value-2-50x50.png"
            description="
            Your funds grow tax-deferred.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title=""
            iconImageUrl="../../../assets/images/personal/investing-retirement/icon-extended-window-50x50.png"
            description="
                Once you begin taking withdrawals, 
                you can choose from different options, 
                including a fixed amount for life or 
                payments to your beneficiaries.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title=""
            iconImageUrl="../../../assets/images/personal/investing-retirement/icon-percent-50x50.webp"
            description="
            Choose between a fixed annuity or a variable annuity.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title=""
            iconImageUrl="../../../assets/images/personal/investing-retirement/icon-graph-increase-50x50.png"
            description="
            Choose if you want immediate income or deferred income in retirement.">
        </app-icon-and-content-item>
    </div>
</div>


<app-footer></app-footer>