
<app-header 
    heroTitle="Home Equity Loans & Lines of Credit"
    heroDescription="
        As life changes and your needs shift, 
        use the equity in your home to 
        finance your next goal."
    heroImageUrl="../assets/images/personal/loans/couple-choosing-paint-colors-in-new-bedroom-large.jpg">
</app-header>


<div class="container">
    <div class="row btf-title">
        <h2>Benefits</h2>
        <p>
            Maybe you’re considering a home 
            improvement, a new vehicle or want 
            to consolidate debt. Whatever 
            your project or plans, we can 
            help you achieve them.
        </p>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title="Home improvements or renovations"
            iconImageUrl="../../../assets/images/personal/home-personal-loans/icon-home-improvement-50x50.png"
            description="
                Finance a home improvement or 
                a major renovation to help 
                increase the value of your 
                home.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Cover emergency expenses"
            [hasCTA]="false"
            iconImageUrl="../../../assets/images/personal/home-personal-loans/icon-ambulance-50x50.webp"
            description="
                Life is full of surprises, 
                and sometimes you need a little 
                extra cash to get you through.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Purchase a vehicle"
            iconImageUrl="../../../assets/images/personal/home-personal-loans/icon-car-50x50.png"
            description="
                As an alternative to a 
                traditional auto loan, a home 
                equity loan may offer a lower 
                rate and can be used to purchase 
                any type of vehicle.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Debt consolidation"
            [hasCTA]="false"
            iconImageUrl="../../../assets/images/personal/home-personal-loans/icon-credit-card-50x50.png"
            description="
                Consolidate your debts into 
                a more manageable monthly 
                payment with a competitive 
                rate.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Overdraft services"
            [hasCTA]="false"
            iconImageUrl="../../../../assets/images/personal/home-personal-loans/icon-transfer-dollar-50x50.webp"
            description="
                Be sure you have funds when you 
                need them. Protect your checking 
                account from becoming overdrawn 
                by linking your home equity line 
                of credit to automatically transfer 
                money to your account.">
        </app-icon-and-content-item>
    </div>
</div>

<app-footer></app-footer>