
<div class="container">
    <h2 class="text-center my-4">Learn more about...</h2>
    <div class="row more-info-card-container grid-cols-2" style="width: 850px;">
        <app-more-info-card 
            title="ACH Origination"
            description="
                Automatic Clearing House (ACH) 
                transactions allow money to move 
                in and out of your account, 
                saving you time and money.
            "
            linkUrl="/business/cash-management/payables-management/ach-origination"
            imageUrl="../../../assets/images/business/cash-management/woman-sitting-at-desk-smiling-looking-at-laptop-with-man-standing-to-her-side.jpg">
        </app-more-info-card>
        <app-more-info-card 
            title="Business Credit Cards"
            description="
                Choosing the right credit card 
                is easier than ever when you have 
                multiple card options giving you 
                the flexibility and purchasing 
                power you need to manage your business.
            "
            linkUrl="/business/cash-management/payables-management/business-credit-cards"
            imageUrl="../../../assets/images/business/cash-management/man-using-his-business-credit-card-to-make-a-purchase-small.jpg">
        </app-more-info-card>
        <!-- <app-more-info-card 
            title="Annuities"
            description="
                Looking to add more certainty 
                to your financial planning? Whether 
                you’re saving for retirement or already 
                retired, annuities may be the solution for you.
            "
            linkUrl="/personal/cash-management/invest-your-way/annuities"
            imageUrl="../../../assets/images/personal/cash-management/couple-dancing-in-their-living-room-small.jpg">
        </app-more-info-card> -->
    </div>
</div>

<app-footer></app-footer>