
<app-header 
    heroTitle="Life Insurance"
    heroDescription="
        Ensure the people you love 
        most are taken care of financially, 
        even if you're not there.
    "
    heroImageUrl="../assets/images/personal/personal-insurance/family-mom-and-daughter-laying-in-bed-taking-a-selfie-large.jpg">
</app-header>

<div class="custom-container">
    <div class="row btf-title">
        <h2>Benefits of Life Insurance</h2>
        <p>
            Each situation is unique. 
            We'll work with you to determine 
            the amount of coverage and type 
            of policy that will fit your needs.  
        </p>
    </div>

    <div class="row icon-and-content-item-container grid-cols-2">
        <app-icon-and-content-item
            title="Tax-Free"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-dollar-sign-50x50.png"
            description="
                Benefits are paid to your 
                family in a lump sum, or 
                distributions are usually 
                free from income taxes.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Accumulate Cash Value"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-home-50x50.png"
            description="
                Some policies will accumulate 
                a cash value over time, providing 
                you with an option to defer tax on 
                interest earned and allowing you to 
                take tax-free distributions.">
        </app-icon-and-content-item>
    </div>
</div>


<div class="custom-container">
    <div class="row">
        <div class="header">
            <h2>Why get life insurance?</h2>
            <p>
                If you die unexpectedly, can 
                your family maintain their standard 
                of living? If the answer is no, 
                a life insurance policy is right 
                for you.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="grid grid-cols-3 gap-4">
            <app-title-shadow-card 
                title="Reason One"
                description="Generate an income for your family.">
            </app-title-shadow-card>
            <app-title-shadow-card 
                title="Reason Two"
                description="Pay expenses like a mortgage, childcare or college education.">
            </app-title-shadow-card>
            <app-title-shadow-card 
                title="Reason Three"
                description="Supplement your retirement plan.">
            </app-title-shadow-card>
            <app-title-shadow-card 
                title="Reason Four"
                description="Pay for accumulated medical expenses.">
            </app-title-shadow-card>
            <app-title-shadow-card 
                title="Reason Five"
                description="Pay for final expenses.">
            </app-title-shadow-card>
        </div>
    </div>
</div>


<!-- dark card with photo -->
<div class="custom-container">
    <div class="row">
        <div class="header">
            <h2 class="my-8 text-center">We can also help you with...</h2>
        </div>        
    </div>
    
    <app-image-and-dark-rect-content-row
        title="Disability Insurance"
        [isFlipped]="true"
        description="
            Chances are an unexpected illness 
            or injury will greatly affect your life. 
            A disability policy can ensure your 
            income is covered so you can focus 
            on your health. 
        "
        imageUrl="../../../assets/images/personal/personal-insurance/woman-with-crutches-being-assisted-walking-thru-room-small.webp">
    </app-image-and-dark-rect-content-row>
</div>

<app-call-us-row></app-call-us-row>

<app-find-advisor-row
    advisorName="Justin Albets, VP Personal Lines Insurance Sales Manager"
    advisorPhotoUrl="../../../assets/images/personal/personal-insurance/justin-staebler.jpg">
</app-find-advisor-row>


<app-footer></app-footer>