

<div class="container">
    <div class="row btf-title">
        <h2>Benefits of Life Insurance</h2>
        <p>
            Each situation is unique. 
            We'll work with you to determine 
            the amount of coverage and type 
            of policy that will fit your needs.  
        </p>
    </div>

    <div class="row icon-and-content-item-container grid-cols-2">
        <app-icon-and-content-item
            title="Tax-Free"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-appliance-50x50.png"
            description="
                Benefits are paid to your 
                family in a lump sum, or 
                distributions are usually 
                free from income taxes.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Accumulate Cash Value"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-home-50x50.png"
            description="
                Some policies will accumulate 
                a cash value over time, providing 
                you with an option to defer tax on 
                interest earned and allowing you to 
                take tax-free distributions.">
        </app-icon-and-content-item>
    </div>
</div>

<app-footer></app-footer>