
<app-header 
    heroTitle="Construction & Lot Loans"
    heroDescription="
        Building the home of your dreams 
        is exciting. Just as a solid 
        foundation is important to any 
        well-constructed house, financing 
        is critical to the construction 
        process as a whole."
    heroImageUrl="../assets/images/personal/loans/couple-working-with-architect-to-plan-home-building-large.jpg">
</app-header>

<div class="custom-container">
    <div class="row">
        <h2>How One-Time Close Construction Loans Work</h2>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title="Get pre-approved"
            iconImageUrl="../../../assets/images/personal/home-personal-loans/icon-approved-50x50.webp"
            description="
                Find a knowledgeable construction 
                lender and get pre-approved for 
                your new construction loan. ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Select your lot"
            [hasCTA]="false"
            iconImageUrl="../../../assets/images/personal/home-personal-loans/icon-find-location-50x50.png"
            description="
                Find a lot to accommodate the 
                home you want to build. 
                The dimensions, pitch and location 
                can all factor into the size and 
                type of home you want to build.  ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Select your builder"
            iconImageUrl="../../../assets/images/personal/home-personal-loans/icon-construction-50x50.png"
            description="
                Educate yourself on the builders 
                in your area by attending home 
                builder shows, talking to vendors 
                or requesting a builder's report. ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Submit your contract"
            [hasCTA]="false"
            iconImageUrl="../../../assets/images/personal/home-personal-loans/icon-bill-50x50.webp"
            description="
                Provide your blueprints and 
                the construction contract. 
                The contract should be as detailed 
                as possible and include a spreadsheet 
                itemizing all the costs associated 
                with the construction of your new 
                home. ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Close & lock your rate"
            [hasCTA]="false"
            iconImageUrl="../../../../assets/images/personal/home-personal-loans/icon-percent-lock-50x50.png"
            description="
                Plan to close on your construction 
                loan with your loan officer. If you 
                are choosing to request conversion to 
                a fixed-rate mortgage loan, you will 
                be able to lock your rate up to six 
                months before your construction is 
                complete.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Get ready to move"
            [hasCTA]="false"
            iconImageUrl="../../../../assets/images/personal/home-personal-loans/icon-box-open-50x50.png"
            description="
                Once the construction phase is 
                complete, the loan may be 
                converted into a fixed-rate 
                mortgage with regular monthly 
                principal and interest payments.  ">
        </app-icon-and-content-item>
    </div>
</div>


<div class="custom-container">
    <h2 class="text-center my-8">How to Apply</h2>
    
<app-image-and-content-row
    title="Documents and Information"
    [isFlipped]="true"
    subtitle="Additional documents and information (when available)"
    [items]="[
        'Your Social Security number to obtain your credit report',
        'Pay stubs, W‐2s and possibly full tax returns for income documentation',
        'Bank and asset statements for verification of liquid and retirement savings',
        '
            Any other necessary information 
            based on your individual 
            situation like business tax returns, 
            current real estate holdings, etc.
        '
    ]"
    [subListItems]="[
        '
            Accepted offer to purchase - if purchasing 
            the lot at the time of closing on your 
            construction loan
        ',
        'Construction plans',
        'Builder cost breakdown and specs',
        'Complete signed builder contract',
        'Insurance coverage, including builder\'s risk insurance - prior to closing'
    ]"
    imageUrl="../assets/images/personal/loans/hand-with-pen-filling-out-application.jpg">
</app-image-and-content-row>

</div>


<!-- dark card with photo -->
<div class="custom-container">
    <div class="row">
        <div class="header">
            <h2 class="my-8 text-center">Homeowners Insurance</h2>
        </div>        
    </div>
    
    <app-image-and-dark-rect-content-row
        title="Give the gift guaranteed to fit"
        description="
            Your home is likely one of your 
            largest investments. You deserve 
            to have peace of mind that your 
            home and the possessions inside 
            are protected from life’s 
            unexpected events.
        "
        imageUrl="../../../assets/images/personal/loans/family-mom-and-daugther-playing-in-their-living-room-small.jpg">
    </app-image-and-dark-rect-content-row>
</div>

<app-call-us-row></app-call-us-row>

<app-find-advisor-row
advisorName="Karrie Wichman, AVP Senior Mortgage Loan Officer"
imageUrl="../../../assets/images/personal/loans/karie-wichman.jpg"></app-find-advisor-row>

<app-footer></app-footer>