
<app-header 
    heroTitle="Long-Term Care Insurance"
    heroDescription="
        Get the care you need if you 
        become unable to care for yourself 
        due to a chronic illness or disability. 
        With long-term care insurance, you 
        can receive care in a nursing home, 
        assisted-living facility or in your 
        own home.
    "
    heroImageUrl="../assets/images/personal/personal-insurance/family-grandpa-and-caretaker-waiting-for-grandaughter-hug-large.jpg">
</app-header>


<div class="custom-container">
    <div class="row btf-title">
        <h2>What is long-term care?</h2>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title="Professional Care"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-employees-50x50.png"
            description="
            Provides the appropriate professional care when you are unable to care for yourself for an extended period of time. ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Coverage Beyond Medical Care"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-disability-50x50.png"
            description="
            Assistance for expenses such as nursing home, assisted-living, home care and other related expenses.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Savings Protection"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-dollar-sign-shield-50x50.png"
            description="
                Ensures the wealth you've accumulated stays intact.">
        </app-icon-and-content-item>
    </div>
</div>


<div class="custom-container">
    <div class="row">
        <div class="header">
            <h2>Quick Facts</h2>
            <p>
                The need for long-term care isn't going away.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="grid grid-cols-3 gap-4">
            <app-title-shadow-card 
                title="7 in 10 People"
                description="Over 65 will need long-term care in their lifetime.">
            </app-title-shadow-card>
            <app-title-shadow-card 
                title="By 2050"
                description="
                    The need for long-term care 
                    will more than double.">
            </app-title-shadow-card>
            <app-title-shadow-card 
                title="9 in 10 People"
                description="
                    Who go on long-term care do not recover. 
                    Only 10% will have a non-permanent 
                    condition.">
            </app-title-shadow-card>
        </div>
    </div>
</div>

<div class="custom-container">
    <div class="row">
        
    </div>

    <div class="row flex items-stretch justify-center">
        <div class="gray-header-item" style="width: 400px;">
            <div class="header">
                <h3>Traditional</h3>
            </div>
            <div class="body">
                <div class="section">
                    <ul class="list-checkmarks text-left">
                        <li>Typically the most affordable option</li>
                        <li>Monthly benefits range from $1,500 to $12,000 depending on the insurance carrier</li>
                        <li>Average benefit periods are 2 to 6 years or longer, depending on the policy limit chosen</li>
                        <li>Elimination (deductible) periods range from 0 to 365 days and begin the first day you are chronically ill and receive a covered service</li>
                        <li>Choose from a number of optional riders like inflation protection which increases benefits over time to keep pace with the cost of living</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="gray-header-item" style="width: 400px;">
            <div class="header">
                <h3>Asset-Based</h3>
            </div>
            <div class="body">
                <div class="section">
                    <ul class="list-checkmarks text-left">
                        <li>Referred to as “hybrid" or “combo plan” because it combines either life insurance or an annuity with a long-term care insurance rider under one policy</li>
                        <li>Includes the same basic components as the traditional plan</li>
                        <li>Premiums will not increase</li>
                        <li>Premiums may be paid on a variety of schedules, such as a single pay plan (one lump sum), a 20 pay plan (20 annual payments), or lifetime payments</li>
                        <li>Upon death, any unused long-term care insurance benefits may be received by your beneficiaries as life insurance or an annuity benefit</li>
                        <li>The Pension Protection Act allows you to replace an existing life insurance policy or annuity without incurring tax consequences</li>
                        <li>You can cash in your policy for any reason and get some or all of your initial premiums back (with most plans)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- dark card with photo -->
<div class="custom-container">
    <div class="row">
        <div class="header">
            <h2 class="my-8 text-center">We can also help you with...</h2>
        </div>        
    </div>
    
    <app-image-and-dark-rect-content-row
        title="Life Insurance"
        description="
            Ensure the people you love most are 
            taken care of financially, even 
            if you're not there.  
        "
        imageUrl="../../../assets/images/personal/personal-insurance/family-mom-and-daughter-laying-in-bed-taking-a-selfie-small.jpg">
    </app-image-and-dark-rect-content-row>
</div>

<app-call-us-row></app-call-us-row>

<app-find-advisor-row
    advisorName="Brian Plamann, Life Insurance Sales Executive"
    advisorPhotoUrl="../../../assets/images/personal/personal-insurance/brian-plamann.webp">
</app-find-advisor-row>



<app-footer></app-footer>