

<div class="container">
    <div class="row btf-title">
        <h2>What is long-term care?</h2>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title="Professional Care"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-employees-50x50.png"
            description="
            Provides the appropriate professional care when you are unable to care for yourself for an extended period of time. ">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Coverage Beyond Medical Care"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-disability-50x50.png"
            description="
            Assistance for expenses such as nursing home, assisted-living, home care and other related expenses.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Savings Protection"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-dollar-sign-shield-50x50.png"
            description="
                Ensures the wealth you've accumulated stays intact.">
        </app-icon-and-content-item>
    </div>
</div>

<app-footer></app-footer>