<!--
    Services:
    Retirement & Financial Planning
    Investment Management
    Invest your way
    Wealth Strategy
    Estate Planning
    Family Wealth Planning
    Business Succession Planning
-->

<app-header 
    heroTitle="Investing & Retirement"
    heroDescription="
        Whether you're looking to invest 
        your money, build a financial plan 
        or prepare for retirement, our 
        advisors can help you create a story 
        that grows, manages and protects your 
        wealth for future generations."
    heroImageUrl="../assets/images/personal/couple-retired-having-fun-sailing-large.webp">
</app-header>

<div class="custom-container">
    <div class="row">
        <ul class="service-overview-list">
            <li class="">
                <app-image-and-white-rect-row
                    title="Retirement & Financial Planning"
                    description="
                        Developing a sound financial 
                        plan is essential to achieving 
                        your long-term retirement goals.
                    "
                    [linkUrl]="baseUrl + '/retirement-financial-planning'"
                    imageUrl="../../assets/images/personal/couple-older-looking-at-paint-color-options-small.jpg">
                </app-image-and-white-rect-row>
                <!-- <div class="data-wrapper">
                    <div class="data">
                        <h3>
                            <a [href]="baseUrl + '/retirement-financial-planning'">
                                Retirement & Financial Planning
                            </a>
                        </h3>
                        <p>
                            Developing a sound financial 
                            plan is essential to achieving 
                            your long-term retirement goals.
                        </p>
    
                        <a [href]="baseUrl + '/retirement-financial-planning'" 
                            class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/personal/couple-older-looking-at-paint-color-options-small.jpg" />
                    <span class="image-overlay"></span>
                </div> -->
            </li>
            <li class="">
                <app-image-and-white-rect-row
                    title="Investment Management"
                    [isFlipped]="true"
                    description="
                        Managing portfolios guided 
                        by your goals, sound 
                        research and a prudent 
                        investment decision-making 
                        process.
                    "
                    [linkUrl]="baseUrl + '/investment-management'"
                    imageUrl="../../assets/images/personal/professionals-man-and-woman-planning-small.jpg">
                </app-image-and-white-rect-row>
            </li>
            <li class="">
                <app-image-and-white-rect-row
                    title="Invest Your Way"
                    description="
                        Helping you make the most 
                        of your money and your life 
                        with a variety of investment 
                        solutions.
                    "
                    [linkUrl]="baseUrl + '/invest-your-way'"
                    imageUrl="../../assets/images/personal/couple-getting-ready-for-wedding-small.jpg">
                </app-image-and-white-rect-row>
            </li>
            <!-- <li class="hidden">
                <app-image-and-white-rect-row
                    title="Wealth Strategy"
                    [isFlipped]="true"
                    description="
                        Helping you make the most 
                        of your money and your life 
                        with a variety of investment 
                        solutions.
                    "
                    [linkUrl]="baseUrl + '/wealth-strategy'"
                    imageUrl="../../assets/images/personal/woman-meeting-with-financial-advisor-small.jpg">
                </app-image-and-white-rect-row>
            </li>
            <li class="hidden">
                <app-image-and-white-rect-row
                    title="Estate Planning"
                    description="
                        An estate plan is simply 
                        a strategy to take care 
                        of the people you care 
                        about – including yourself.ons.
                    "
                    [linkUrl]="baseUrl + '/estate-planning'"
                    imageUrl="../../assets/images/personal/family-three-generations-grandfather-son-grandson-small.jpg">
                </app-image-and-white-rect-row>
            </li>
            <li class="hidden">                
                <app-image-and-white-rect-row
                    title="Wealth Strategy"
                    [isFlipped]="true"
                    description="
                        Helping you make the most 
                        of your money and your life 
                        with a variety of investment 
                        solutions.
                    "
                    [linkUrl]="baseUrl + '/wealth-strategy'"
                    imageUrl="../../assets/images/personal/woman-meeting-with-financial-advisor-small.jpg">
                </app-image-and-white-rect-row>
                <div class="data-wrapper">
                    <div class="data flip-right">
                        <h3><a [href]="baseUrl + '/family-wealth-planning'">Family Wealth Planning</a></h3>
                        <p>
                            Determine what story you want your wealth to tell.
                        </p>
    
                        <a [href]="baseUrl + '/family-wealth-planning'" class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/personal/couple-talking-to-family-on-ipad-small.jpg" />
                    <span class="image-overlay"></span>
                </div>
            </li>
            <li class="hidden">
                <div class="data-wrapper">
                    <div class="data">
                        <h3><a [href]="baseUrl + '/business-succession-planning'">Business Succession Planning</a></h3>
                        <p>
                            As a multigenerational family business, 
                            we are attuned to the needs of business 
                            owners at every stage, from that initial 
                            creative spark to your retirement and beyond.
                        </p>
    
                        <a [href]="baseUrl + '/business-succession-planning'" class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/personal/family-son-taking-over-business-from-mother-small.webp" />
                    <span class="image-overlay"></span>
                </div>
            </li> -->
        </ul>
    </div>
</div>

<app-footer></app-footer>