

<div class="container">
    <div class="row btf-title">
        <h2>Why is coverage important?</h2>
        <p>
            Whether you are buying a starter home, 
            moving to a new home, downsizing or 
            building your dream home, a homeowners 
            insurance policy will protect you 
            from the unexpected. 
        </p>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title="Be prepared for the unexpected"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-home-and-shield-50x50.png"
            description="
                Be prepared to replace your home 
                and belongings if disaster strikes, 
                without dipping into your savings.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Meet loan requirements"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-checkbox-50x50.png"
            description="
                If you have a mortgage loan, your 
                lender likely requires you to hold a 
                homeowners or condo policy.">
        </app-icon-and-content-item>
    </div>
</div>

<div class="container">
    <div class="row btf-title">
        <h2>What's covered?</h2>
        <p>
            Protect your home and valuables from weather, theft and other damage.
        </p>
    </div>

    <div class="row icon-and-content-item-container grid-cols-2">
        <app-icon-and-content-item
            title="Property Damage"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-disaster-50x50.png"
            description="
            Most policies provide coverage for damage to your house due to:">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Personal Property"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-furniture-50x50.png"
            description="
            Most policies provide coverage for damage or theft to your belongings such as:">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Personal Liability"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-ambulance-50x50.webp"
            description="
                Provide coverage for medical 
                expenses or property damage caused 
                by you or other members of your household, 
                even pets. It may also help with legal 
                expenses in the case of a lawsuit.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Jewelry"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-jewelry-50x50.png"
            description="
                Most policies provide limited 
                coverage for jewelry stolen 
                from your home. If your jewelry 
                is of high value, contact an advisor 
                to learn about other options.">
        </app-icon-and-content-item>
    </div>
</div>

<app-footer></app-footer>