
<app-header 
    heroTitle="Home & Condo Insurance"
    heroDescription="
        Your home is likely one of 
        your largest investments. 
        You deserve to have peace of 
        mind that your home and the 
        possessions inside are protected 
        from life’s unexpected events.
    "
    heroImageUrl="../assets/images/personal/personal-insurance/family-mom-and-daugther-playing-in-their-living-room-large.webp">
</app-header>

<div class="custom-container">
    <div class="row btf-title">
        <h2>Why is coverage important?</h2>
        <p>
            Whether you are buying a starter home, 
            moving to a new home, downsizing or 
            building your dream home, a homeowners 
            insurance policy will protect you 
            from the unexpected. 
        </p>
    </div>

    <div class="row flex items-start icon-and-content-item-container">
        <app-icon-and-content-item
            title="Be prepared for the unexpected"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-home-and-shield-50x50.png"
            description="
                Be prepared to replace your home 
                and belongings if disaster strikes, 
                without dipping into your savings.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Meet loan requirements"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-checkbox-50x50.png"
            description="
                If you have a mortgage loan, your 
                lender likely requires you to hold a 
                homeowners or condo policy.">
        </app-icon-and-content-item>
    </div>
</div>

<div class="custom-container">
    <div class="row btf-title">
        <h2>What's covered?</h2>
        <p>
            Protect your home and valuables from weather, theft and other damage.
        </p>
    </div>

    <div class="row icon-and-content-item-container grid-cols-2">
        <app-icon-and-content-item
            title="Property Damage"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-disaster-50x50.png"
            description="
            Most policies provide coverage for damage to your house due to:">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Personal Property"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-furniture-50x50.png"
            description="
            Most policies provide coverage for damage or theft to your belongings such as:">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Personal Liability"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-ambulance-50x50.webp"
            description="
                Provide coverage for medical 
                expenses or property damage caused 
                by you or other members of your household, 
                even pets. It may also help with legal 
                expenses in the case of a lawsuit.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Jewelry"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-jewelry-50x50.png"
            description="
                Most policies provide limited 
                coverage for jewelry stolen 
                from your home. If your jewelry 
                is of high value, contact an advisor 
                to learn about other options.">
        </app-icon-and-content-item>
    </div>
</div>

<app-image-and-content-row
    title="Condo Insurance"
    [isFlipped]="true"
    paragraphs="
        <p>
            As a condominium owner, you have 
            special needs to consider. Condo insurance 
            can protect you if your condo or possessions 
            are damaged, destroyed or stolen. It will 
            also provide liability coverage for unexpected 
            accidents in your home to protect you 
            financially against lawsuits and liability 
            claims.
        </p>
        <p>
            We can review your association's 
            by-laws to help you understand and 
            select the coverage you need.
        </p>
        <p>
            What does condo insurance cover?
        </p>
    "
    [items]="
        [
            'Fire',
            'Most weather-related events',
            'Theft',
            'Liability',
            'Identity theft protection'
        ]
    "
    imageUrl="../assets/images/personal/personal-insurance/couple-holding-boxes-looking-at-each-other-smiling-while-children-cheer-in-the-background.webp">
</app-image-and-content-row>

<!-- dark card with photo -->
<div class="custom-container">
    <div class="row">
        <div class="header">
            <h2 class="my-8 text-center">We can also help you with...</h2>
        </div>        
    </div>
    
    <app-image-and-dark-rect-content-row
        title="Retirement & Financial Planning"
        description="
            Developing a sound financial 
            plan is essential to achieving 
            your long-term retirement goals.
        "
        imageUrl="../../../assets/images/personal/personal-insurance/couple-older-looking-at-paint-color-options-small.webp">
    </app-image-and-dark-rect-content-row>
    
    <app-image-and-dark-rect-content-row
        title="Home Loans"
        [isFlipped]="true"
        description="
            Whether you are relocating to a 
            new community, refinancing, buying 
            your first home or moving into a new 
            home, we'll guide you through the 
            home financing process.
        "
        imageUrl="../../../assets/images/personal/personal-insurance/kids-two-girls-having-fun-washing-dishes-small.jpg">
    </app-image-and-dark-rect-content-row>
</div>

<app-call-us-row></app-call-us-row>
<app-find-advisor-row
    advisorName="Justin Albets, VP Personal Lines Insurance Sales Manager"
    advisorPhotoUrl="../../../assets/images/personal/personal-insurance/justin-staebler.jpg"></app-find-advisor-row>

<app-footer></app-footer>