
<app-header 
    heroTitle="Property & Casualty Insurance"
    heroDescription="
        Protect your company's assets from the unexpected.
    "
    heroImageUrl="../assets/images/business/business-insurance/man-taking-inventory-large.jpg">
</app-header>

<div class="custom-container">
    <div class="row btf-title">
        <h2>Our Approach</h2>
        <p>
            As a business owner, you’ve worked 
            hard to get your company where it is today. 
            That’s why you need to protect your 
            business and employees from the unexpected. 
            Our experience and breadth of insurance 
            services provide you with a variety of 
            options, whether you're looking for the 
            best quality, cost, efficiency, or 
            combination of all three. We get to know 
            you, your company and your strategic goals 
            in order to develop the right insurance 
            program that fits your unique needs.
        </p>
    </div>
</div>

<div class="custom-container">
    <div class="row btf-title">
        <h2>Our Solutions</h2>
        <p>
            Accidents happen every day that 
            can significantly impact your 
            business and your employees. 
            We will collaborate with you to 
            craft a property and casualty 
            program that meets the unique 
            needs of your business.
        </p>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title="Property and Liability Insurance"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-office-50x50.png"
            description="">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Workers' Compensation"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-construction-50x50.png"
            description="">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Cyber Liability"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-computer-50x50.png"
            description="">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Business Interruption Insurance"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-caution-50x50.png"
            description="">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Management Liability Insurance"
            iconImageUrl="../../../assets/images/business/business-insurance/icon-professional-50x50.png"
            description="">
        </app-icon-and-content-item>
    </div>
</div>

<app-call-us-row></app-call-us-row>

<app-find-advisor-row
    advisorName="Bret Almstedt, VP Wealth Retirement Plan Services Manager"
    advisorPhotoUrl="../../../assets/images/business/employee-benefits/bret-almstedt.jpg">
</app-find-advisor-row>

<app-footer></app-footer>