<mat-card class="mb-8 mr-4 w-full" style="margin-right: 0.5rem">
  <mat-card-content>
    <div class="mb-16">
      <span class="grid grid-cols-2 md:grid-cols-3 gap-y-4">
        <span>
          <p class="text-gray-700 font-normal text-xs">Account Type</p>
          <p class="text-base md:text-lg">{{ account?.accountTypeName }}</p>
        </span>
        <span>
          <p class="text-gray-700 font-normal text-xs">Account Number</p>
          <p class="text-base md:text-lg">{{ account?.accountNumber }}</p>
        </span>
        <span>
          <p class="text-gray-700 font-normal text-xs">Balance</p>
          <p class="text-base md:text-lg">
            <span *ngIf="selectedCurrency.id == 'usd_currency'">
              {{ utilityService.dollarSymbol }}
            </span>
            <span *ngIf="selectedCurrency.id == 'euro_currency'">
              {{ utilityService.euroSymbol }}
            </span>
            {{ parsedBalance }}
          </p>
        </span>
      </span>
    </div>

    <div>
      <app-transactions></app-transactions>
    </div>
  </mat-card-content>
</mat-card>
