
<app-header 
    heroTitle="Banking"
    heroDescription="
        In planning for the future, your 
        goals are as unique as you are. 
        We get it. That’s why we offer a 
        range of personal banking services 
        few financial institutions can 
        match, along with people who are 
        focused on doing what's right 
        for you."
    heroImageUrl="../assets/images/personal/kids-young-girl-watering-garden-large.webp">
</app-header>

<div class="custom-container">
    <div class="row btf-title">
        <h2>Our Approach</h2>
        <p class="light">
            Your financial needs are about more 
            than a transaction. We take the time 
            to understand every need so you can 
            plan for life’s ups and downs while 
            finding the best ways to save and spend 
            your money. How can we help you live 
            the life you've always imagined?
        </p>
    </div>
</div>


<div class="container">
    <div class="row">
        <app-image-and-content-row></app-image-and-content-row>
    </div>
</div>

<div class="custom-container">
    <div class="row">
        <ul class="service-overview-list">
            <li class="">
                <app-image-and-white-rect-row
                    title="Checking Accounts"
                    description="
                        Find an account to best fit your life. 
                        Our advisors will learn what is important 
                        to you to make managing your money easy 
                        and worry-free.
                    "
                    [linkUrl]="baseUrl + '/checking'"
                    imageUrl="../../assets/images/couple-sitting-on-couch-looking-thorugh-book-small.webp">
                </app-image-and-white-rect-row>
            </li>
            <li class="">
                <app-image-and-white-rect-row
                    title="Savings and Money Market Accounts"
                    [isFlipped]="true"
                    description="
                        Be prepared for life’s little surprises 
                        with a savings or money market account. 
                        If you're just starting to save, building 
                        an emergency fund, or saving for something 
                        special, we can help you reach your goals.
                    "
                    [linkUrl]="baseUrl + '/savings-and-money-market'"
                    imageUrl="../../assets/images/woman-gardening-on-her-rooftop-small.webp">
                </app-image-and-white-rect-row>
            </li>
            <li class="">
                <app-image-and-white-rect-row
                    title="Health Savings Account (HSA)"
                    description="
                        A Health Savings Account (HSA) makes 
                        managing healthcare costs easier. 
                        With an HSA, you can save money to 
                        pay for qualified medical expenses.
                    "
                    [linkUrl]="baseUrl + '/health-savings-account'"
                    imageUrl="../../assets/images/family-mom-with-daughter-and-doctor-for-checkup-small.webp">
                </app-image-and-white-rect-row>
            </li>
            <li class="">
                <app-image-and-white-rect-row
                    title="Certificates of Deposits (CDs)"
                    [isFlipped]="true"
                    description="
                        When you want a higher than average 
                        interest rate, a set rate of return 
                        and assurance that your funds are insured, 
                        use a CD for your savings and retirement goals.
                    "
                    [linkUrl]="baseUrl + '/certificate-of-deposit'"
                    imageUrl="../../assets/images/family-dad-playing-dolls-with-daughter-small.webp">
                </app-image-and-white-rect-row>
            </li>
            <li class="">
                <app-image-and-white-rect-row
                    title="Cards"
                    description="
                        Find a card for every need. 
                        The debit, credit and gift 
                        cards you choose can help you 
                        through all of life’s moments.
                    "
                    [linkUrl]="baseUrl + '/certificate-of-deposit'"
                    imageUrl="../../assets/images/friends-two-women-shopping-small.jpg">
                </app-image-and-white-rect-row>
            </li>
            <li class="" style="display: none;">
                <app-image-and-white-rect-row
                    title="Online & Mobile Banking"
                    [isFlipped]="true"
                    description="
                        Online and mobile banking 
                        tools make managing your money 
                        fast and easy. Anywhere, anytime 
                        options to deposit checks, send 
                        money and more from your mobile 
                        phone or the comfort of your home.
                    "
                    [linkUrl]="baseUrl + '/certificate-of-deposit'"
                    imageUrl="../../assets/images/woman-working-in-office-with-laptop-mobile-phone-small.webp">
                </app-image-and-white-rect-row>
            </li>
        </ul>
    </div>
</div>

<app-footer></app-footer>