
<app-header 
    heroTitle="Business Financing"
    heroDescription="
        As a business owner, 
        you may aspire to expand your 
        company or acquire new equipment. 
        Make your dreams a reality with 
        our flexible financing options 
        for businesses."
    heroImageUrl="../assets/images/personal/kids-young-girl-watering-garden-large.webp">
</app-header>

<div class="container">
    <div class="row btf-title">
        <h2>Our Approach</h2>
        <p class="light">
            Your financial needs are about more 
            than a transaction. We take the time 
            to understand every need so you can 
            plan for life’s ups and downs while 
            finding the best ways to save and spend 
            your money. How can we help you live 
            the life you've always imagined?
        </p>
    </div>
</div>


<div class="container">
    <div class="row">
        <app-image-and-content-row></app-image-and-content-row>
    </div>
</div>

<div class="container">
    <div class="row">
        <ul class="service-overview-list">
            <li class="card-and-image-container">
                <div class="data-wrapper">
                    <div class="data">
                        <h3><a>Checking Accounts</a></h3>
                        <p>
                            Find an account to best fit your life. 
                            Our advisors will learn what is important 
                            to you to make managing your money easy 
                            and worry-free.
                        </p>
    
                        <a class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/couple-sitting-on-couch-looking-thorugh-book-small.webp" />
                    <span class="image-overlay"></span>
                </div>
            </li>
            <li class="card-and-image-container flipped">
                <div class="data-wrapper">
                    <div class="data flip-right">
                        <h3><a>Savings and Money Market Accounts</a></h3>
                        <p>
                            Be prepared for life’s little surprises 
                            with a savings or money market account. 
                            If you're just starting to save, building 
                            an emergency fund, or saving for something 
                            special, we can help you reach your goals.
                        </p>
    
                        <a class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/woman-gardening-on-her-rooftop-small.webp" />
                    <div class="image-overlay"></div>
                </div>
            </li>
            <li class="card-and-image-container">
                <div class="data-wrapper">
                    <div class="data">
                        <h3><a>Health Savings Account (HSA)</a></h3>
                        <p>
                            A Health Savings Account (HSA) makes 
                            managing healthcare costs easier. 
                            With an HSA, you can save money to 
                            pay for qualified medical expenses.
                        </p>
    
                        <a class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/family-mom-with-daughter-and-doctor-for-checkup-small.webp" />
                    <span class="image-overlay"></span>
                </div>
            </li>
            <li class="card-and-image-container flipped">
                <div class="data-wrapper">
                    <div class="data flip-right">
                        <h3><a>Certificates of Deposits (CDs)</a></h3>
                        <p>
                            When you want a higher than average 
                            interest rate, a set rate of return 
                            and assurance that your funds are insured, 
                            use a CD for your savings and retirement goals.
                        </p>
    
                        <a class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/family-dad-playing-dolls-with-daughter-small.webp" />
                    <div class="image-overlay"></div>
                </div>
            </li>
            <li class="card-and-image-container">
                <div class="data-wrapper">
                    <div class="data">
                        <h3><a>Cards</a></h3>
                        <p>
                            Find a card for every need. 
                            The debit, credit and gift 
                            cards you choose can help you 
                            through all of life’s moments.
                        </p>
    
                        <a class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/friends-two-women-shopping-small.jpg" />
                    <span class="image-overlay"></span>
                </div>
            </li>
            <li class="card-and-image-container flipped">
                <div class="data-wrapper">
                    <div class="data flip-right">
                        <h3><a>Online & Mobile Banking</a></h3>
                        <p>
                            Online and mobile banking 
                            tools make managing your money 
                            fast and easy. Anywhere, anytime 
                            options to deposit checks, send 
                            money and more from your mobile 
                            phone or the comfort of your home.
                        </p>
    
                        <a class="btn outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/woman-working-in-office-with-laptop-mobile-phone-small.webp" />
                    <div class="image-overlay"></div>
                </div>
            </li>
        </ul>
    </div>
</div>

<app-footer></app-footer>