
<app-header 
    heroTitle="Renters Insurance"
    heroDescription="
        Your landlord's insurance only 
        covers the building – not what’s 
        inside your apartment. Renters 
        insurance covers the things you own 
        and provides protection in the event 
        of damages or injuries that happen 
        inside your apartment, loft or flat. 
    "
    heroImageUrl="../assets/images/personal/personal-insurance/couple-cooking-dinner-at-home-large.webp">
</app-header>

<div class="custom-container">
    <div class="row btf-title">
        <h2>Benefits</h2>
        <p>
            Renters insurance provides coverage 
            for you and your personal belongings 
            when renting an apartment, staying in 
            a dorm or living with friends or family.
        </p>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title="Protection"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-furniture-50x50.png"
            description="
                Covers your personal belongings 
                against theft and damages.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Liability"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-ambulance-50x50.webp"
            description="
                Safeguards you from liability 
                claims if there is accidental 
                damage to your apartment or if friends 
                are injured in your apartment.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Affordable"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-cash-50x50.png"
            description="
                Often one of the most affordable 
                policies, but ultimately depends on 
                the amount of coverage you choose to buy.">
        </app-icon-and-content-item>
    </div>
</div>


<div class="custom-container">
    <div class="row btf-title">
        <h2>Provisional Inventory Tip</h2>
        <p>            
            Document what you own with 
            photos or video, and keep these 
            records in a secure off-site 
            location like a safe deposit box. 
            Our advisors can help you 
            with other inventory options.                            
        </p>
    </div>
</div>

<!-- dark card with photo -->
<div class="custom-container">
    <div class="row">
        <div class="header">
            <h2 class="my-8 text-center">We can also help you with...</h2>
        </div>        
    </div>
    
    <app-image-and-dark-rect-content-row
        title="Home Loans"
        description="
            Whether you are relocating to a 
            new community, refinancing, buying 
            your first home or moving into a new 
            home, we'll guide you through the 
            home financing process.
        "
        imageUrl="../../../assets/images/personal/personal-insurance/kids-two-girls-having-fun-washing-dishes-small.jpg">
    </app-image-and-dark-rect-content-row>
</div>

<app-call-us-row></app-call-us-row>
<app-find-advisor-row
    advisorName="Justin Albets, VP Personal Lines Insurance Sales Manager"
    advisorPhotoUrl="../../../assets/images/personal/personal-insurance/justin-staebler.jpg"></app-find-advisor-row>

<app-footer></app-footer>