

<div class="container">
    <div class="row btf-title">
        <h2>Benefits</h2>
        <p>
            Renters insurance provides coverage 
            for you and your personal belongings 
            when renting an apartment, staying in 
            a dorm or living with friends or family.
        </p>
    </div>

    <div class="row icon-and-content-item-container">
        <app-icon-and-content-item
            title="Protection"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-furniture-50x50.png"
            description="
                Covers your personal belongings 
                against theft and damages.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Liability"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-ambulance-50x50.webp"
            description="
                Safeguards you from liability 
                claims if there is accidental 
                damage to your apartment or if friends 
                are injured in your apartment.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Affordable"
            iconImageUrl="../../../assets/images/personal/personal-insurance/icon-cash-50x50.png"
            description="
                Often one of the most affordable 
                policies, but ultimately depends on 
                the amount of coverage you choose to buy.">
        </app-icon-and-content-item>
    </div>
</div>

<app-footer></app-footer>