
<app-header></app-header>
<app-above-fold-picture [imageSource]="'../../../assets/images/personal/CDs.png'"></app-above-fold-picture>

<span class="service-detail">
    <div class="content">
        <div class="main">
            <div class="service-title">
                <h2>CERTIFICATIONS OF DEPOSIT</h2>
                <p>
                    If you want to take full advantage of some of the best rates BSV offers, a Certificate of Deposit may be the way to go. This form of deposit earns more than a regular savings or checking account and gives you convenient flexibility.
                </p>
            </div>

            <ul class="detail-description-list">
                <li class="detail-description">
                    <span class="detail-heading" style="margin-left: 0;">
                        <h2>Key Features & Conditions</h2>
                    </span>
    
                    <div class="features-and-conditions space-y-8">
                        <div>
                            <ul class="green-bulleting shif-right">
                                <li>Competive Rates</li>
                                <li>Low opening deposits</li>
                                <li>Convenient interest payment terms</li>
                                <li>Deposits insured up to $250,000 by FDIC</li>
                                <li>Maturity ranges from 14 days to five years</li>
                                <li>Penalties may apply for early withdrawal</li>
                            </ul>                            
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <app-right-side-bar></app-right-side-bar>
        </div>
    </div>
</span>
<app-footer></app-footer>