
<app-header 
    heroTitle="Certificates of Deposit (CDs)"
    heroDescription="Grow your money with a fixed-rate savings account."
    heroImageUrl="../assets/images/personal/banking/family-dad-playing-dolls-with-daughter-large.jpg">
</app-header>


<div class="container">
    <div class="row btf-title">
        <h2>Benefits</h2>
    </div>
    
    <div class="row grid grid-cols-4 col-gap-4 row-gap-4 grid-flow-row mx-auto w-auto" 
        style="margin: 0 auto; width: 1400px; max-width: 90%; border: 1px solid black;">
        <app-icon-and-content-item
            title="FDIC Insured"
            iconImageUrl="../../../assets/images/personal/cod/icon-safe.png"
            description="
                CDs are protected by the 
                Federal Deposit Insurance Corporation (FDIC), 
                making your money a low-risk investment.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Flexible Terms"
            iconImageUrl="../../../assets/images/personal/cod/icon-flexible-options-50x50.png"
            description="
                Common terms for CDs range from 
                three months to three years.">
        </app-icon-and-content-item>
        <app-icon-and-content-item
            title="Rate of Return"
            iconImageUrl="../../../assets/images/personal/cod/icon-percent-up-50x50.png"
            description="
                A CD has a higher interest 
                rate than a traditional savings 
                account, generally meaning the 
                longer term you choose, the higher 
                the interest rate and the better 
                return rate.">
        </app-icon-and-content-item>
    </div>
</div>

<app-footer></app-footer>
