
<!-- 
    Hero:
        family-father-and-daughter-looking-at-tablet-on-couch-large
    Title:
        Personal Insurance
    description:
        You have a lot to protect – your home, 
        your valuables, your family’s financial 
        security and, most of all, you and your family. 
        We can help you understand your risks and 
        provide you with personal insurance solutions 
        to cover you no matter what life has in store.
-->

<app-header 
    [heroTitle]="'Personal Insurance'"
    [heroDescription]="
        'You have a lot to protect – your home, 
        your valuables, your family’s financial 
        security and, most of all, you and your 
        family. We can help you understand 
        your risks and provide you with personal 
        insurance solutions to cover you no 
        matter what life has in store.'"
    heroImageUrl="../assets/images/personal/personal-insurance/family-father-and-daughter-looking-at-tablet-on-couch-large.jpg">
</app-header>

<div class="container">
    <div class="row btf-title">
        <h2>Our Approach</h2>
        <p class="light">
            As a leading independent agency 
            nationwide, we focus on understanding 
            your priorities to reduce risk. We can 
            help identify coverage improvements 
            and compare multiple insurance companies 
            for the best coverage and price. 
            Our licensed advisors will provide 
            ongoing advice and policy reviews to 
            protect your assets anywhere in the 
            United States or the world.
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <ul class="service-overview-list">
            <li class="card-and-image-container">
                <div class="data-wrapper">
                    <div class="data">
                        <h3>
                            <a [href]="baseUrl + '/auto-boat-recreational-vehicles'">
                                Auto, Boats and Recreational Vehicles
                            </a>
                        </h3>
                        <p>
                            From the vehicle you drive every day, 
                            to your valued collector's car, it’s 
                            important to make sure you’re covered 
                            for vehicle damage and any accident-related 
                            medical costs for yourself, your passengers 
                            and even the other driver.
                        </p>
    
                        <a [href]="baseUrl + '/auto-boat-recreational-vehicles'" 
                            class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/personal/personal-insurance/woman-buying-a-new-car-small.jpg" />
                    <span class="image-overlay"></span>
                </div>
            </li>
            <li class="card-and-image-container flipped">
                <div class="data-wrapper">
                    <div class="data flip-right">
                        <h3><a [href]="baseUrl + '/antiques-art-wine'">Antiques, Art & Wine</a></h3>
                        <p>
                            Extra protection for any of your 
                            special valuable treasures including 
                            jewelry, antiques, art and more. 
                            Valuables Insurance can provide more 
                            coverage than a typical homeowners or 
                            renters insurance policy.
                        </p>
    
                        <a [href]="baseUrl + '/antiques-art-wine'" class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/personal/personal-insurance/woman-making-a-wine-purchase-small.jpg" />
                    <div class="image-overlay"></div>
                </div>
            </li>
            <li class="card-and-image-container">
                <div class="data-wrapper">
                    <div class="data">
                        <h3><a [href]="baseUrl + '/cyber-security-identity-theft'">Cyber Security & Identity Theft</a></h3>
                        <p>
                            Your identity is worth protecting, 
                            and much like your home and car, it’s 
                            important to have the right coverage 
                            in place to protect you from the unexpected. 
                            We have the services to protect your identity 
                            and offer broad cyber-related coverage 
                            to protect digital property, cyberbullying 
                            and more.
                        </p>
    
                        <a [href]="baseUrl + '/cyber-security-identity-theft'" class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/personal/personal-insurance/woman-looking-at-phone-at-airport-small.jpg" />
                    <span class="image-overlay"></span>
                </div>
            </li>
            <li class="card-and-image-container flipped">
                <div class="data-wrapper">
                    <div class="data flip-right">
                        <h3><a [href]="baseUrl + '/disability'">Disability Insurance</a></h3>
                        <p>
                            Protect your ability to work and 
                            earn an income if you unexpectedly 
                            experience an illness or injury and 
                            become unable to work or manage 
                            your business. Disability insurance 
                            replaces a portion of your regular 
                            income so you can focus on taking 
                            care of you and your family.
                        </p>
    
                        <a [href]="baseUrl + '/disability'" class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/personal/personal-insurance/woman-with-crutches-being-assisted-walking-thru-room-small.jpg" />
                    <span class="image-overlay"></span>
                </div>
            </li>
            <li class="card-and-image-container">
                <div class="data-wrapper">
                    <div class="data">
                        <h3><a [href]="baseUrl + '/flood'">Flood</a></h3>
                        <p>
                            Flooding can happen to anyone, 
                            and even the smallest amount of 
                            water damage could cost you 
                            thousands to repair. Ensure you are 
                            protected from financial loss with 
                            a flood insurance policy.
                        </p>
    
                        <a [href]="baseUrl + '/flood'" class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/personal/personal-insurance/homes-in-a-neighborhood-bracing-for-a-storm-small.jpg" />
                    <span class="image-overlay"></span>
                </div>
            </li>
            <li class="card-and-image-container flipped">
                <div class="data-wrapper">
                    <div class="data flip-right">
                        <h3><a [href]="baseUrl + '/home-condo'">Home & Condo Insurance</a></h3>
                        <p>
                            Your home is likely one of your 
                            largest investments. You deserve to 
                            have peace of mind that your home and 
                            the possessions inside are protected 
                            from life’s unexpected events.
                        </p>
    
                        <a [href]="baseUrl + '/home-condo'" class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/personal/personal-insurance/family-mom-and-daugther-playing-in-their-living-room-small.jpg" />
                    <span class="image-overlay"></span>
                </div>
            </li>
            <li class="card-and-image-container">
                <div class="data-wrapper">
                    <div class="data">
                        <h3><a [href]="baseUrl + '/life'">Life Insurance</a></h3>
                        <p>
                            You can make sure your family is 
                            taken care of, even if you’re not there. 
                            A life insurance policy can protect your 
                            family’s financial future.
                        </p>
    
                        <a [href]="baseUrl + '/life'" class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/personal/personal-insurance/family-mom-and-daughter-laying-in-bed-taking-a-selfie-small.jpg" />
                    <span class="image-overlay"></span>
                </div>
            </li>
        </ul>
    </div>
</div>


<app-footer></app-footer>