<!-- 
<app-header></app-header>
<div class="flex items-center my-2">
    <div class="w-1/2 flex items-center space-x-6 justify-center">
        <a href="/signin" class="flex flex-col items-center space-y-4">
            <span>ONLINE BANKING</span>
            <img src="../../assets/svg/online_banking_icon.svg" style="width: 50px;" />
        </a>
        <a href="/signin" class="flex flex-col items-center space-y-4">
            <span>MAKE A PAYMENT</span>
            <img src="../../assets/svg/payment_icon.svg" style="width: 90px;" />
        </a>
        <a href="/contact-us" class="flex flex-col items-center space-y-4">
            <span>CONTACT US</span>
            <img src="../../assets/svg/contact_icon.svg" style="width: 60px;" />
        </a>
    </div>
    <div class="w-1/2 flex items-center justify-center rounded-tl-lg rounded-bl-lg
    space-x-4
    px-4 py-6" style="background-color: #aed54a;">
        <p class="text-2xl text-white">I would like to: </p>
        <select class="text-black p-4 text-xl rounded-lg w-8/12" style="background: #cfe98d;">
            <option>Choose an option</option>
            <option>
                <a>Plan for the future</a>
            </option>
            <option>
                <a>Grow my business</a>
            </option>
        </select>
    </div>
</div>

<div class="flex items-center justify-center " style="background: #d8efb0;">
    <img src="../../assets/images/MM_website-header-1024x244.png" class="max-w-full" />
</div>

<div class="p-4 text-center space-y-8 my-8">
    <p class="text-3xl">You might also be interested in: <br /></p>

    <div class="flex items-center justify-center space-x-8 mt-4">
        <a href="/insurance-investments/insurance">
            <img src="../../assets/images/097c2ba0-9f64-11ea-a723-0242d2920566.png" />
        </a>
        <a href="/business/loans">
            <img src="../../assets/images/61f5c8e0-ffd7-11e9-89a2-02420ebf5c17.png" />
        </a>
        <a href="/personal/credit-cards">            
            <img src="../../assets/images/6277ca20-ffd7-11e9-89a2-02420ebf5c17.png" />
        </a>
    </div>
</div>

<app-footer></app-footer> -->