


<app-header 
heroTitle="Cash Management"
heroDescription="
    We understand that efficiently
    managing cash flow is essential to 
    your growth and success. Let us help you 
    find a customized approach that works for 
    your business."
heroImageUrl="../assets/images/business/cash-management/women-sitting-at-desk-working-on-laptop-large.jpg">
</app-header>


<div class="custom-container">
    <div class="row btf-title">
        <h2>Our Approach</h2>
        <p class="light">
            We will work with you to develop a 
            customized strategy that maximizes 
            your cash and your time. We offer 
            cash management services for every 
            stage of the cash flow cycle with 
            tools to tailor a long-term plan for 
            the prosperity of your business.
        </p>
    </div>
</div>


<div class="container">
    <div class="row">
        <ul class="service-overview-list">
            <li class="">
                <app-image-and-white-rect-row
                    title="Business Accounts"
                    description="
                        Manage your cash while gaining 
                        optimal returns with solutions 
                        based on your business needs.
                    "
                    [linkUrl]="baseUrl + '/business-accounts'"
                    imageUrl="../../assets/images/business/cash-management/business-owner-looking-at-his-mobile-phone-small.jpg">
                </app-image-and-white-rect-row>
                <!-- <div class="data-wrapper">
                    <div class="data">
                        <h3>
                            <a [href]="baseUrl + '/business-accounts'">
                                Business Accounts
                            </a>
                        </h3>
                        <p>
                            Manage your cash while gaining 
                            optimal returns with solutions 
                            based on your business needs.
                        </p>
    
                        <a [href]="baseUrl + '/business-accounts'" 
                            class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/business/cash-management/business-owner-looking-at-his-mobile-phone-small.jpg" />
                    <span class="image-overlay"></span>
                </div> -->
            </li>
            <li class="">
                <app-image-and-white-rect-row
                    title="Payables Management"
                    [isFlipped]="true"
                    description="
                        Reduce your risk and the costs 
                        associated with disbursing funds 
                        to vendors, employees and investors 
                        using tools such as ACH payments 
                        and wire transfers.
                    "
                    [linkUrl]="baseUrl + '/payables-management'"
                    imageUrl="../../assets/images/business/cash-management/co-workers-working-in-office-reviewing-tablet-small.jpg">
                </app-image-and-white-rect-row>
            </li>
            <li class="hidden">
                <app-image-and-white-rect-row
                    title="Receivables Management"
                    [isFlipped]="true"
                    description="
                        Improve your company’s funds 
                        availability, cash forecasting 
                        and audit control by placing money 
                        where it can be best used for 
                        investing or debt reduction.
                    "
                    [linkUrl]="baseUrl + '/receivables-management'"
                    imageUrl="../../assets/images/business/cash-management/women-working-at-desk-full-of-papers-small.jpg">
                </app-image-and-white-rect-row>
            </li>
            <li class="">
                <app-image-and-white-rect-row
                    title="Information Management"
                    [linkUrl]="baseUrl + '/information-management'"
                    imageUrl="../../assets/images/business/cash-management/man-leaving-the-office-talking-on-the-phone-small.jpg"
                    description="
                        Enhance decision-making through 
                        quick access to updated account 
                        information.
                    ">                    
                </app-image-and-white-rect-row>
            </li>
            <li class="card-and-image-container" style="display: none">
                <div class="data-wrapper">
                    <div class="data">
                        <h3><a [href]="baseUrl + '/fraud-prevention'">Fraud Prevention</a></h3>
                        <p>
                            Prevent fraudulent activity against 
                            your accounts by combining our 
                            fraud prevention solutions with 
                            business best practices.
                        </p>
    
                        <a [href]="baseUrl + '/fraud-prevention'" class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/business/cash-management/man-working-at-his-office-on-a-tablet-small.jpg" />
                    <span class="image-overlay"></span>
                </div>
            </li>
        </ul>
    </div>
</div>

<app-footer></app-footer>