<div>
  <app-transactions-table
    *ngIf="deposits?.length"
    [transactions]="deposits"
  ></app-transactions-table>

  <div *ngIf="!deposits?.length">
    <p class="my-8 text-base">Your deposits will show here!</p>
  </div>

  <div class="my-4 flex items-center justify-between" *ngIf="deposits?.length">
    <p class="text-base">
      <span class="text-gray-700">Total: </span>
      <span class="text-gray-900 font-medium">
        <span *ngIf="selectedCurrency.id == 'usd_currency'">
          {{ utilityService.dollarSymbol }}
        </span>
        <span *ngIf="selectedCurrency.id == 'euro_currency'">
          {{ utilityService.euroSymbol }}
        </span>
        {{
          (depositedAmount * utilityService.selectedCurrency.rate)?.toFixed(2)
        }}
      </span>
    </p>

    <!-- (click)="makeTransaction('deposit') -->
    <button
      mat-raised-button
      color="primary"
      (click)="makeDeposit()"
      class="yellow-button"
    >
      MAKE A DEPOSIT
    </button>
  </div>
</div>
