
<!-- 
    Services:
        Starting Out
        Home & Lifestyle
        Family
        Work & Career
        Retirement
    Hero:
        family-walking-along-shoreline-large.jpg
    Title:
        Personal Insurance
    description:
        You have a lot to protect – your home, 
        your valuables, your family’s financial 
        security and, most of all, you and your family. 
        We can help you understand your risks and 
        provide you with personal insurance solutions 
        to cover you no matter what life has in store.
-->

<app-header 
    [heroTitle]="'Your Financial Life'"
    heroDescription="
        Use these savvy tips and financial 
        tools as you plan for the big 
        decisions in your life."
    heroImageUrl="../assets/images/personal/financial-life/family-walking-along-shoreline-large.jpg">
</app-header>


<div class="container">
    <div class="row">
        <ul class="service-overview-list">
            <li class="card-and-image-container">
                <div class="data-wrapper">
                    <div class="data">
                        <h3>
                            <a [href]="baseUrl + '/starting-out'">
                                Starting Out
                            </a>
                        </h3>
                        <p>
                            Making smart financial decisions 
                            early on can set you up for success 
                            later in life. We're here to help 
                            you get started.
                        </p>
    
                        <a [href]="baseUrl + '/starting-out'" 
                            class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/personal/financial-life/couple-sitting-on-floor-looking-at-computer-small.webp" />
                    <span class="image-overlay"></span>
                </div>
            </li>
            <li class="card-and-image-container flipped">
                <div class="data-wrapper">
                    <div class="data flip-right">
                        <h3><a [href]="baseUrl + '/home-lifestyle'">Home & Lifestyle</a></h3>
                        <p>
                            Whether you are buying a new home, 
                            selling your home or saving for a dream 
                            vacation, we'll guide you every step of the way.
                        </p>
    
                        <a [href]="baseUrl + '/home-lifestyle'" class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/personal/financial-life/family-father-and-daughter-doing-homework-in-kitchen-small.jpg" />
                    <div class="image-overlay"></div>
                </div>
            </li>
            <li class="card-and-image-container">
                <div class="data-wrapper">
                    <div class="data">
                        <h3><a [href]="baseUrl + '/family'">Family</a></h3>
                        <p>
                            Your family's needs are important. 
                            Understand the steps you can take 
                            today to create a secure financial 
                            future for you and your loved ones.
                        </p>
    
                        <a [href]="baseUrl + '/family'" class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/personal/financial-life/kids-brother-and-sister-looking-at-an-ipad-small.jpg" />
                    <span class="image-overlay"></span>
                </div>
            </li>
            <li class="card-and-image-container flipped">
                <div class="data-wrapper">
                    <div class="data flip-right">
                        <h3><a [href]="baseUrl + '/work-career'">Work & Career</a></h3>
                        <p>
                            Enjoy the life you're building. 
                            Learn how your career and financial 
                            goals intersect.
                        </p>
    
                        <a [href]="baseUrl + '/work-career'" class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/personal/financial-life/coworkers-looking-at-desk-of-papers-small.jpg" />
                    <span class="image-overlay"></span>
                </div>
            </li>
            <li class="card-and-image-container">
                <div class="data-wrapper">
                    <div class="data">
                        <h3><a [href]="baseUrl + '/retirement'">Retirement</a></h3>
                        <p>
                            Whether you are just starting 
                            to save, ready for retirement, 
                            or anywhere in between, we can 
                            help you realize the retirement 
                            you’ve always imagined.
                        </p>
    
                        <a [href]="baseUrl + '/retirement'" class="btn btn-outlined">Learn More</a>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="../../assets/images/personal/financial-life/couple-standing-in-front-of-their-window-small.jpg" />
                    <span class="image-overlay"></span>
                </div>
            </li>
        </ul>
    </div>
</div>

<app-footer></app-footer>